[2013-11-14 09:38] ammmir opened #2 "Add SSL support"
An :ssl=true option could be added and optionally :ssl_options to support connections over untrusted networks (eg. to Heroku Postgres).

[2013-11-18 00:05] #2 closed, assigned to nobody

[2013-11-25 21:25] ericmj opened #3 "Handle NaN for numeric type"

[2013-12-04 23:27] ericmj opened #4 "Don't convert types to atoms"
/cc @devinus

[2013-12-16 16:50] #4 closed, assigned to nobody

[2014-01-11 04:46] taybin opened #5 "Does this support PostGIS out of the box?"
http://postgis.net/

[2014-01-22 13:12] qur2 opened #6 "Handle composite primary?foreign keys"
Is there any chance to see that land in the project at some point?

For more info, here is [a link to doctrine doc page about that](https://doctrine-orm.readthedocs.org/en/latest/tutorials/composite-primary-keys.html?highlight=composite).

[2014-01-22 13:21] #6 closed, assigned to nobody

[2014-02-24 20:02] #5 closed, assigned to nobody

[2014-02-24 20:02] #3 closed, assigned to nobody

[2014-02-24 20:03] ericmj opened #7 "Support all steps of extended query (parse / bind / execute)"

[2014-04-24 04:55] dbenamy opened #12 "Make it easier to install?"
I'm new to elixir and I'm having some trouble getting postgrex & ecto installed.

I brew installed elixir 0.13.0. It looks to me like the latest postgrex depends on a dev version of elixir. I found an older revision (7bb042d90d80fcfe396408af77a505173912b153) and put that in my mix.exs and then I'm able to install it with "mix deps.update postgrex", but I can't compile because ecto wants a newer ve

[2014-04-24 14:19] #12 closed, assigned to nobody

[2014-06-23 09:41] wb14123 opened #14 "Run mix do deps.get error"
I run `mix do deps.get` with this error:

[code]

[2014-06-24 02:22] #14 closed, assigned to nobody

[2014-07-02 16:11] cookiebody opened #15 "could not compile dependency decimal"
When trying to run tests with `mix test`, I get the following error:

[code]

`mix deps.compile decimal` and `mix deps.update decimal` can not fix it.

I'm using CentOS with Elixir(0.14.3-dev):

[code]

[2014-07-02 20:45] #15 closed, assigned to nobody

[2014-08-20 09:07] MSch opened #17 "Release with relaxed version requirement"
[code]

is annoying me :)

[2014-08-20 16:47] #17 closed, assigned to nobody

[2014-09-25 16:30] drouchy opened #20 "unable to encode value `nil` as type text"
Hi,

I'm using ecto in an elixir project. Recently, I upgraded the postgrex version and now I've got a regression.

Basically I've got a model with a property as an array of text

[code]

the values in the array can be null. Is used to work properly but now postgrex returns an error

unable to encode value `nil` as type text

Cheers,

David

[2014-09-25 20:30] #20 closed, assigned to nobody

[2014-10-01 06:21] tyre opened #21 "Error connecting to test database"
I see this error off and on when running tests. Sometimes they all run fine and other times I see:

[code]

Google shows a few threads related to dns settings, but I'm not sure why those would change from time to time.

[2014-10-08 00:33] ashneyderman opened #22 "Driver does not seem to support binding a list to the parameters"
so something like this fails:

iex(4)> Postgrex.Connection.query(conn, """
...(4)>   select \*
...(4)>     from audit
...(4)>    where user_id in ($1)
...(4)> """, [[22,94]])
{:error,
 %Postgrex.Error{message: "unable to encode value `[22, 94]` as type int8",
  postgres: nil}}

I also tried this:

iex(11)> Postgrex.Connection.query(conn, "select \* from audit where user_id in ($1)", [22,94], param

[2014-10-08 10:02] #22 closed, assigned to nobody

[2014-10-11 01:50] #21 closed, assigned to nobody

[2014-11-14 00:46] awright415 opened #26 "Support for Postgres Range types?"
Are you interested in a PR for Postgres' built-in Range types? I saw the discussions around HStore and custom encoders/decoders, but this is potentially a different case since the range type isn't an extension.

[2014-12-02 11:59] keichan34 opened #28 "LISTEN / NOTIFY support?"
Any work in progress for this? If not, I may try my hand at writing something and submitting a PR. If so, I'd be happy to try to help out (if help is needed).

[2014-12-06 03:41] #28 closed, assigned to nobody

[2015-01-08 08:27] ericmj opened #34 "Include timezone in timestamptz"
This requires using the text format for encoding/decoding timestamptz.

[2015-01-08 09:48] josevalim opened #35 "Support uuid type"

[2015-01-13 11:31] #26 closed

[2015-01-13 11:32] ericmj opened #37 "Improve error message when no password is provided"
Related elixir-lang/ecto#293.

[2015-01-14 15:09] ericmj commented on #34
Also make sure to include microsecond precision.

/cc @alco

[2015-01-15 20:06] joshnuss opened #39 "Support hstore type"
Would be cool if there was encoding/decoding for maps as hstores.

Can open a PR if you'd like.

[2015-01-16 09:09] ericmj commented on #39
Yes, please go ahead.

[2015-01-17 10:01] josevalim opened #40 "Postgres should send strings for datetime/date/time"
See discussion here: https://groups.google.com/forum/#!topic/elixir-ecto/eKdy3iA9s_g

[2015-01-17 10:37] #40 closed

[2015-01-19 01:56] robertsosinski commented on #39
Noticed there is already a package on hex that adds hstore support to Postgrex at https://github.com/senecasystems/hstore

Maybe work with the author to merge it in?

[2015-01-19 08:19] joshnuss commented on #39
Thanks @robertsosinski!

@tyre @ericmj what do you think about combining the hstore hex project?

[2015-01-19 09:33] ericmj commented on #39
That project uses the text format encoding, postgrex uses the more efficient binary format when possible.

[2015-02-03 05:23] hamiltop opened #44 "Cannot encode date 1999-12-31 properly"
With `0.7.0`, `{1999,12,31}` is encoded as `-1` which is later treated as `null`.

It seems to be fixed in master, but from the looks of commit logs it might have been fixed by coincidence.

I opened this issue as just a simple heads up in case this wasn't known.

[2015-02-03 12:01] ericmj commented on #44
Do you know which commit fixed it?

[2015-02-03 18:00] hamiltop commented on #44
git bisect says b4ea8d548d56e04e836d0fe0a0c61b979c59c8f5 fixed it.

I added a test for it at https://github.com/ericmj/postgrex/pull/45

[2015-02-03 18:21] ericmj commented on #44
I guess making NULL handling explicit was a better decision than I knew. Thanks for taking the time and looking into it.

[2015-02-03 18:21] #44 closed

[2015-02-11 02:23] jquadrin commented on #35
I think this can be closed https://github.com/ericmj/postgrex/blob/master/test/query_test.exs#L52

[2015-02-11 12:19] #35 closed

[2015-02-11 12:20] ericmj commented on #37
We should also validate that options postgres asks for actually valid, for example check that database name is not missing.

[2015-02-12 22:45] MSch opened #51 "Translate Postgres error codes into atoms"
Would be nice to translate the string codes into atoms, the naming scheme is already perfect: www.postgresql.org/docs/9.4/static/errcodes-appendix.html

https://github.com/postgres/postgres/blob/master/src/backend/utils/errcodes.txt

[2015-02-12 23:01] ericmj commented on #51
I agree :+1:

[2015-02-17 22:09] troyk opened #53 "Postgrex.Utils.version_to_int does not support beta version numbers"
because I've yet to upgrade my dev box pg from 9.4beta2, but I'm off to do so now.

[code]

[2015-02-17 22:10] troyk commented on #53
If your interested, I could do a pull request that removes any non-alpha chars from the version number?

[2015-02-17 22:21] ericmj commented on #53
Please do

[2015-02-20 09:08] miwee opened #56 "Postgrex doesn't give error on delete with linked foreign key"
I was having similar issue as mentioned in this post
http://stackoverflow.com/questions/14182079/delete-rows-with-foreign-key-in-postgresql

The problem is that if I run the similar query, I get error from PostgreSQL. But when I call the delete query from Postgrex.Connection.query, I get a successful result value. It took a while to figure out the source of the error, as Postgrex didn't gave any e

[2015-02-20 10:33] ericmj commented on #56
I can't reproduce. Please include code that will reproduce the wrong behaviour.

[2015-02-20 15:39] miwee commented on #56
The table schema
[code]
The Interaction
[code]

[2015-02-20 15:56] ericmj commented on #56
Have you tried running this in psql? I Just did and I get no error.

The reason no error is raised is because you are deleting `myapi_task`. Try deleting `myapi_node` and you should get an error.

[2015-02-20 17:15] miwee commented on #56
Sorry for mixing the table names. The issue is still valid. In psql, when I try deleting myapi_node I get an error
ERROR:  update or delete on table "myapi_node" violates foreign key constraint "myapi_task_target_node_id_fkey" on table "myapi_task"
DETAIL:  Key (id)=(1) is still referenced from table "myapi_task".

But when I run Postgrex query for deleting, I get a successful response instead of

[2015-02-20 22:42] #34 closed

[2015-02-20 22:43] ericmj commented on #39
Ping?

[2015-02-20 22:50] #53 closed

[2015-02-20 22:54] ericmj commented on #56
Still can't reproduce.

[code]

Please show a full iex log where you create the tables, insert the rows and then delete.

[2015-02-21 00:55] ericmj opened #57 "Add acking of notification messages"
The postgrex connection can create a big message box by sending messages faster than the receiving process can churn them. ACKing every message will ensure that this does not happen by queueing messages in the connection. If the queue gets too big messages should be discarded.

[2015-02-21 04:25] miwee commented on #56
[code]
Note that in the last line I've given delete command twice, and I get same results. If the entry was actually deleted first time, then in the next time I should have got "num_rows: 0". So apparently, there is some problem.

[2015-02-21 05:06] ericmj commented on #56
Postgrex is arguably exhibiting the correct behaviour here.

You have defined the constraint as deferred, meaning that the constraint is checked at the end of the current transaction. You are not inside an explicit transaction, but since postgrex is using extended queries the query is automatically wrapped in a transaction. So the command succeeds and the reply is returned to the caller, then the

[2015-02-21 05:12] ericmj commented on #56
A way to work around the issue is to run your query inside an explicit transaction. When you run the `COMMIT` command you will get an error from postgrex.

[2015-02-21 06:06] miwee commented on #56
Checked with explicit transaction, and it gives error on COMMIT, so its OK.

Speaking of conceptual purity, running a single query implies implicit transaction, and it should work the same way as explicit transaction. Returning results without waiting for commit response, speeds things up. But it can be argued that whoever wants speed should be running batch queries inside transaction.

But if we

[2015-02-21 10:50] josevalim commented on #57
Let's talk about this also when we are on skype.

[2015-02-23 03:31] tyre commented on #39
Sorry, I forgot about this one. Would you like me to convert it to binary?

What else would be necessary to merge it in?

[2015-02-23 08:56] ericmj commented on #39
Using the binary format should be enough.

[2015-02-23 18:27] ericmj commented on #57
Implement notifications as streams instead.

[2015-02-23 18:27] #57 closed

[2015-02-23 18:27] ericmj opened #58 "Implement notifications as streams"

[2015-02-23 19:19] #56 closed

[2015-02-23 19:46] #37 closed

[2015-02-23 19:46] ericmj commented on #51
Closed in favor of PR #52.

[2015-02-23 19:46] #51 closed

[2015-03-01 22:19] tyre commented on #39
Got around to doing the conversion. Pretty easy with the extension support built into Postgrex. Great work with that!

[2015-03-03 06:21] zkat commented on #7
Hey, I created elixir-lang/ecto#493 -- This issue doesn't have much of a description but if it's what I think it is, it sounds like it would expose the bits needed for Ecto to support streamed results?

[2015-03-03 09:59] ericmj commented on #7
Yes, the idea is to make the three steps of extended query public functions.

[2015-03-05 20:37] zipme opened #60 "(ArgumentError) no extension found for oid"
After updating to 0.8.0, I got an error "no extension found for oid" when running a query like Postgrex.Connection.query!(pid, "SELECT xxx FROM subjects", [])

[2015-03-05 21:19] ericmj commented on #60
Please include the full error message. Which oid is failing? We've removed automatic text fallback for types we don't handle by default which is probably causing this error.

[2015-03-05 21:33] jasonwebster commented on #60
I'm seeing:

[code]
after attempting an insert on a table that has a json column in it.

[2015-03-05 21:35] ericmj commented on #60
@jasonwebster oid 114 is json. See the readme for an example json extension.

[2015-03-05 21:46] zipme commented on #60
I have a table called 'subjects' which has a `jsonb` column, bellow is the full error message:

[code]

[2015-03-05 21:48] ericmj commented on #60
You fix it the same way. Just change `type: "json"` to `type: "jsonb"`.

[2015-03-05 21:48] #60 closed

[2015-03-05 23:00] zipme commented on #60
THANKS! It's working now!

[2015-03-13 13:12] cmelgarejo commented on #60
@zipme how do you parse the jsonb format? throw me a bone here :) :meat_on_bone:

[2015-03-14 02:31] zipme commented on #60
@cmelgarejo I use the example code in README:

[code]

[2015-03-14 10:41] cmelgarejo commented on #60
Yeah, I did too, but when you select a table with jsonb data, the poison library fails to parse the binary data, that's what I meant :(

-----Mensaje original-----
De: "zipme" <notifications@github.com>
Enviado el: ‎13/‎03/‎2015 23:31
Para: "ericmj/postgrex" <postgrex@noreply.github.com>
CC: "Christian Melgarejo Bresanovich" <christian.melgarejo.bresanovich@gmail.com>
Asunto: Re: [postgrex] (Argum

[2015-03-14 11:50] zipme commented on #60
@cmelgarejo

Try this:

[code]

[2015-03-14 16:19] cmelgarejo commented on #60
@zipme thanks! worked like a charm! jsonb needed to be decoded as TEXT instead of binary kind of beats the concept :confused:

[2015-03-15 11:29] ericmj commented on #60
You should use the binary format whenever you can because then postgrex can encode/decodes higher types of it (such as arrays and composite types).  binary format jsonb sends a single byte with the version before the json so you can just pattern match that away and then call your json library.

[code]

I've also updated the README.

[2015-03-15 13:45] zipme commented on #60
@ericmj  Thanks for the explanation!
@cmelgarejo You should use the above code instead, it works for me.

[2015-03-15 17:11] cmelgarejo commented on #60
Works even better now! :)

Thanks alot @ericmj and @zipme ! :beers:

[2015-03-18 14:46] ericmj opened #63 "Support oid and all its aliases"
oid
regproc
regprocedure
regope
regoperator
regclass
regtype
regconfig
regdictionary

[2015-03-21 20:56] MSch opened #65 "Support query-specific extensions in postgrex"
There should be a way to enable certain extensions only for certain queries:

[code]

[2015-03-31 16:05] #63 closed

[2015-05-18 07:31] josevalim commented on #65
I think this makes it very hard to cache. Can't you do it per connection?

[2015-05-18 07:31] josevalim opened #72 "Improve error message when encoding big numbers but column is not bigint"
See https://github.com/elixir-lang/ecto/issues/602.

[2015-05-18 11:56] MSch commented on #65
Unfortunately not, the whole point is about having some extensions enabled only for some queries.

Isn't caching this as easy as adding the `extensions` to the cache key?

[2015-05-18 18:56] ericmj commented on #65
It assumes that the postgres types the extension needs are already fetched and cached. This is specifically to override other extensions, if the extension adds new types it should just be added to the initial list of extensions.

If needed we can verify that the extension doesn't try to add new types.

[2015-05-20 14:05] josevalim opened #73 "Discuss caching of type data"
Today each postgrex connections needs to query the db when it is started. It would be nice to cache this information and have each connection retrieving it locally instead of hitting the db on load.

[2015-05-20 22:34] ericmj commented on #73
Was this found to be an issue? We can only cache the query result itself, connections still need to store the same amount of data on the heap.

[2015-05-20 22:36] ericmj commented on #73
Even the query is tricky to cache because it depends on the connection options.

We will also need to way to explicitly reload the cache since the database can change.

[2015-05-27 13:27] ericmj commented on #72
Encoding errors seem to produce enormous FunctionClause errors so we should add a pokemon clause that generates a nicer error message. The failing oid and inspected term should be enough for the message and if possible also translate the oid to a type name).

[2015-06-01 14:14] jarkko commented on #72
+1. I just ran into this when trying to insert a `Date.now` timestamp from JS to an integer column. Took a while to figure out what was going on.

[2015-06-01 20:59] josevalim opened #76 "Use the text protocol for simple queries"
begin, rollback, commit, savepoint and ddl ones could all use the text protocol for increased performance.

[2015-06-04 11:57] josevalim commented on #72
Maybe it is better to move the encoding to the client, to avoid blocking the connection process and avoid crashing the connection.

[2015-06-04 12:03] ericmj commented on #72
We can't encode in the client because we need type information from the server first. We can wrap the encoding in try/catch and just log the error though.

[2015-06-23 16:42] drewolson opened #81 "Postgrex 0.8.3 causes failures when running migrations with ecto 0.12.0 on travis ci"
Failing build after upgrading ecto to 0.12.0 and postgrex to 0.8.3 -- https://travis-ci.org/drewolson/scrivener/builds/68021116

Successful build after downgrading postgrex back to 0.8.2 -- https://travis-ci.org/drewolson/scrivener/builds/68025222

Please let me know if you need more information.

[2015-06-23 16:58] josevalim commented on #81
Can you upgrade to postgrex 0.8.3 and then run mix deps.clean postgrex (or just nuke `_build`)?

[2015-06-23 16:59] drewolson commented on #81
@josevalim isn't the `_build` folder clean on every build because this is running on travis? It works locally with both versions.

[2015-06-23 17:38] josevalim commented on #81
Ah, yes. I have no idea why this is happening.

[2015-06-23 17:57] josevalim commented on #81
Ok, apparently this error is happening since 0.8.3 release in postgrex builds themselves: https://travis-ci.org/ericmj/postgrex/jobs/67859407

[2015-06-23 18:06] josevalim opened #82 "JSON encoder should be a no-op in postgres versions that do not support"
Currently, using the JSON type will break Postgrex on versions 9.1 and earlier. The type should not cause errors on postgres versions that do not support it.

[2015-06-23 18:20] ericmj commented on #82
The JSON encoder should only run if the server is actually asking the client to encode json, which it of course shouldn't if it doesn't support it.

[2015-06-23 18:23] ericmj commented on #81
Seems to be an issue with the version detection that I didn't get when testing locally. Will look into it.

[2015-06-23 22:31] #81 closed

[2015-07-06 20:19] ericmj opened #85 "Use connection library and do blocking connect"
https://hex.pm/packages/connection

[2015-07-13 15:00] jaketrent commented on #21
I had the same nxdomain problem.  It turned out that my issue was the the env var PGHOST=/tmp, which is the first url that postgrex is using to connect to the db.  I got around this by setting `hostname: "localhost"` in my config.exs.

[2015-07-14 11:19] josevalim opened #88 "Postgrex is breaking the connection when a query fails"
Maybe all queries fail like that but I was reproducing the bug by following all steps except step 6 here: https://github.com/elixir-lang/ecto/issues/781

The root of the bug in that issue is that the database does not exist when making the query. I am assuming that this particular kind of query fails early on, trigger some bits in Postgrex internals it was not supposed to.

[2015-07-14 12:05] ericmj commented on #88
This is not a bug.The query is failing because the connection is connecting to a database that doesn't exist. It would fail before the query is run if the connection set up was synchronous which is the new default.

[2015-07-14 12:05] #88 closed

[2015-07-22 10:27] josevalim commented on #72
We need this to be high priority. It is confusing for a lot of users, I will work on this now.

[2015-07-22 11:36] #72 closed

[2015-07-27 21:24] sheharyarn opened #90 "no pg_hba.conf entry for host "xxx.xxx.xxx.xxx""
I have a Postgres Database hosted separately which I'm trying to use with my Phoenix Application. My `prod` config is:

[code]

This worked fine while my application was hosted on Heroku, but since I've moved it to a VPS, I keep getting this error:

[code]

One thing that I noted was that it states my VPS IP as the host instead of the host specified in the url.

HELP!

[2015-07-27 21:33] josevalim commented on #90
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-07-27 21:33] #90 closed

[2015-07-27 21:33] josevalim commented on #90
Also consider checking this out if you haven't yet: http://dba.stackexchange.com/questions/83984/connect-to-postgresql-server-fatal-no-pg-hba-conf-entry-for-host

[2015-07-28 08:46] #85 closed

[2015-08-22 07:20] svs opened #93 "ErlangError while trying README example"
if I say
[code]

[2015-08-22 07:45] josevalim commented on #93
All Elixir code ships in applications. So if you want to use postgrex, you need to add it to your `applications:` list in mix.exs. If you are just trying it quickly, you can call `Application.start(:postgrex)`

[2015-08-22 07:46] josevalim commented on #93
I will update the readme to make it clearer. thanks!

[2015-08-22 07:46] #93 closed

[2015-08-22 07:56] svs commented on #93
Thanks!

[2015-09-06 11:27] ericmj opened #94 "Improve TCP error message"
Use `:inet.format_error/1` to translate errors. See https://github.com/elixir-lang/ecto/issues/932

[2015-09-29 16:20] dmarkow opened #96 "Postgres.Messages.parse breaking on very large query"
I have a very large query I'm running that is causing the following error:

[code]

The [function clause](https://github.com/ericmj/postgrex/blob/master/lib/postgrex/messages.ex#L83) that __should__ be matching is this:

[code]

However, parsing `<<129,230>>` as `int16` actual overflows and returns a negative number (-32,282). If I change the function definition to use `uint16` instead, it makes `

[2015-09-29 21:21] ericmj commented on #96
Thank you for the bug report and finding the cause of the error. Are you sending a PR for the fix or should I do it?

[2015-10-02 00:37] zmoshansky opened #98 "No extension found for OID xxxxxx when using citext"
I've struggled with this for a long time and it seems like postgrex is very happy if I manually run `create extension citext` in psql; but, when it's part of my migrations I get this error:

Possibly related #60?
[code]

First Migration to run:
[code]

Used in:
[code]

##### Versions
[code]

[2015-10-02 20:17] ericmj commented on #98
How and when do you run your migrations?

Postgrex fetches types from the server when the first connection to the datasebase is started (when your ecto repo starts) so if you run migrations after the application starts it wont work.

[2015-10-02 20:30] zmoshansky commented on #98
When Testing:
[code]

In production via [HashNuke's Scripts](https://github.com/HashNuke/ansible-elixir-stack) which would use `mix ecto.migrate`: Invoked from bash (likely after deploying a new release).

[2015-10-02 20:37] ericmj commented on #98
If this is in your `test_helper.exs` file your app has already started. You can achieve this with task aliases instead (documented here: http://elixir-lang.org/docs/stable/mix/Mix.html). You should override the test task and run the ecto tasks first.

I don't know how the scripts work? Are the ecto tasks run after the app is started?

[2015-10-02 20:58] zmoshansky commented on #98
Thanks for the `aliases` tip. As for production, the would run as follows in two-steps (ansible tasks).
#### Deploy:
[code]
#### Migrate
[code]

From what you describe, it sounds like it'd need to be modified to:
#### Deploy & Migrate
[code]

[2015-10-14 01:24] zmoshansky commented on #98
After testing with the following, it seems that the error still occurs even using aliases. Is there some way to get Postgrex to refresh it's oid's?

[code]

##### With this output:
[code]

[2015-10-14 01:57] ericmj commented on #98
Are you sure `citext` is the issue?

[2015-10-14 15:52] zmoshansky commented on #98
I believe so, if I comment out the `execute....` command in EnableCitext I get the following error. If I then change the usage of `citext` to `string` it succeeds.
[code]

The only solution is to run the alias:
[code]
then after it fails, comment out the drop and run the alias again as:
[code]

[2015-10-14 15:57] ericmj commented on #98
Okay, try ecto master where we shut down the repo and adapter after migrations. We cannot fix this in postgrex so I am closing, if you still have issues open an issue on ecto and link back here.

[2015-10-14 15:57] #98 closed

[2015-10-16 20:27] gjaldon opened #101 "Support async queries"
refs: https://github.com/elixir-lang/ecto/issues/881

We'll need this so that Ecto can run preloads via async queries

[2015-10-16 20:32] ericmj commented on #101
:+1:

[2015-10-16 20:33] gjaldon commented on #101
@ericmj I'll be working on this within the next few days :)

[2015-10-20 17:09] zmoshansky commented on #98
@ericmj Thank you very much to you and the team for all the hard work!

For posterity: This issue is fixed in `Ecto v1.05`, if the DB commands are run as an alias before `test` as shown above.

[2015-10-25 15:00] ericmj opened #104 "Investigate if a more performant Decimal conversion can be used"
Translating directly from the Decimal struct should be faster than using `to_string`. See https://github.com/ericmj/decimal/issues/19.

[2015-10-27 17:46] simonprev opened #106 "No extension found for oid on column with function in SELECT"
Hi,

I’ve been trying to implement a full text search using postgresql. But when I try tu run a simple query with the `to_tsvector` function, the query raises on error. I call the `postgrex` lib from `ecto`. Here is the simplest example to reproduce the behavior.

[code]

And the stacktrace:

[code]

`postgrex` seems to build a table with a mapping and cast of each column. So when it tries to find

[2015-10-27 18:20] josevalim commented on #106
@simonprev postgrex doesn't know how to encode all database types, specially because anyone can define any type for postgres. Read the session on Extensions and OID in the README about implementing your own. Maybe someone else already solved this problem too, so I would ask the elixir mailing list as well (which is the recommended place for questions).

[2015-10-27 18:20] #106 closed

[2015-10-27 18:24] simonprev commented on #106
I created an issue because I mistakenly thought that it was a bug :disappointed: I’ll be sure to check the mailing list next time :+1: Thanks for the quick response!

[2015-10-28 08:19] peter opened #107 "Cannot connect to Amazon Redshift"
I don't know which versions of PostgreSQL the postgrex library is intended to support but I cannot get it to work with Amazon Redshift which is a modified version of PostgreSQL 8.0.2

http://docs.aws.amazon.com/redshift/latest/dg/c_redshift-and-postgres-sql.html

I get a number of different errors trying to connect to and query Redshift. See my console session below. I tried patching a few of thos

[2015-10-28 11:13] michalmuskala commented on #107
According to readme 8.0 is not supported, so this may be the reason for errors:

[2015-10-28 13:37] #107 closed

[2015-10-28 13:37] peter commented on #107
Cool, thanks, I missed the section on supported versions in the README, sorry.

[2015-10-28 22:27] colinbankier commented on #107
Hi Peter,
I'm currently using postgrex with Redshift in a production phoenix app. I forked postgrex to make it work here: https://github.com/colinbankier/postgrex (master branch)
Disclaimer: I implemented what I needed to get things working for myself, and didn't intend have it used elsewhere without some further work :)
The main issue was with bootstrapping types, since Redshift supports only a s

[2015-11-15 12:23] #94 closed

[2015-11-15 12:24] #101 closed

[2015-11-16 03:26] #96 closed

[2015-11-16 03:29] ericmj commented on #82
Is this is an actual bug? I don't see how this is a postgrex bug, if the json type isn't supported the server should return an error response. Do you remember what the issue was?

[2015-11-16 03:29] ericmj commented on #76
Closed in favor of https://github.com/ericmj/postgrex/pull/112

[2015-11-16 03:29] #76 closed

[2015-11-16 03:29] #73 closed

[2015-11-16 03:29] #39 closed

[2015-11-16 03:30] ericmj commented on #58
When elixir core has better support for this we can implement it in postgrex.

[2015-11-16 03:30] #58 closed

[2015-11-19 14:35] antipax opened #116 "Connection and Decimal should be included in mix.exs applications list"
Without adding Connection and Decimal to the mix.exs applications list, exrm (and presumably similar tools) will not be able to detect that the two libraries should be included in releases.

PR incoming.

[2015-11-19 14:49] #116 closed

[2015-11-20 11:46] fishcakez commented on #7
Added in https://github.com/ericmj/postgrex/commit/a7b951ca4e76f792a4ae087047ca3016c969bf39

[2015-11-20 11:46] #7 closed

[2015-11-25 00:10] cgarciae opened #119 "How to execute this query?"
I am trying to do a migration with a semi-complex query and I am getting a prosgrex error due to the dollar sign on the `$do$` line

[code]

[2015-11-25 03:27] ericmj commented on #119
What is `$do` used for? What error do you get?

[2015-11-25 19:53] cgarciae commented on #119
My bad. I am just learning Postgres.

[2015-11-25 19:53] #119 closed

[2015-12-01 00:21] fishcakez opened #122 "Use simple queries in Postgrex.Notifications and skip bootstrapping"

[2015-12-02 11:06] almassapargali opened #123 "Missing encoder for float8"
Hello, I'm using [earthdistance](http://www.postgresql.org/docs/8.3/static/earthdistance.html) module for querying users by coordinates, and I'm getting this error when passing `String`. If I convert input to `float` or `integer` myself and query, then all is good. Here is the log:
[code]

I wanted to fix this myself, and send PR, but not that good in binary `<< :: :D >>` stuff yet, sorry :smile:

[2015-12-02 11:09] josevalim commented on #123
It is not about a missing encoder. You are sending a string to a float or integer column, then Postgres is giving up because it doesn't know how you would parse that.  I believe converting it to integer or float is the way to go. :)

[2015-12-02 15:26] almassapargali commented on #123
Oh sorry, just ecto was handling my other string to int conversions well, so I though float one is missing.

[2015-12-02 15:26] #123 closed

[2015-12-05 17:10] andreihu opened #124 "Postgrex.Connection kills application on connection refused"
Hi Eric,

 I am trying to integrate a Postgrex.Connection into my gen_fsm module. The init/1 function looks like this:

	#### gen_fsm implementation
	def init(params) do
		try_connect_backend(params)
	end

	defp try_connect_backend(params) do
		case Postgrex.Connection.start_link(hostname: params.host, username: params.user, password: params.pass, database: "spoold") do
			{:ok, conn} ->
				Logge

[2015-12-05 21:57] josevalim commented on #124
Welcome to Elixir @andreihu!

Could you please take your questions to the elixir-talk mailing list? There are a lot of folks who could help you there and this way we don't need to depend on @ericmj in particular to answer your questions.

Thank you!

[2015-12-05 21:57] #124 closed

[2015-12-06 23:12] jbavari opened #125 "Adding support for Geometric Types"
First off, thanks @ericmj for the excellent library. It's great.

I'm trying to add support to postgrex to handle the [geometric types](http://www.postgresql.org/docs/9.4/static/datatype-geometric.html#AEN6730).

These are basic types and I'm trying to use them for distance calculations outside of moving to postgis.

I'd love to add support for these types. However, I'm still relatively new to Eli

[2015-12-07 06:14] evax commented on #125
This library by @bryanjos is implementing what you need:
https://github.com/bryanjos/geo

[2015-12-07 08:55] #125 closed

[2015-12-07 08:55] josevalim commented on #125
Yes, we leave it up for third party to extend postgrex with custom types. :)

[2015-12-07 14:12] jbavari commented on #125
@evax @josevalim

I should have stated before, I was trying to use the Geo library.

However, I'm not using the custom types provided by PostGIS. I'm attempting to use the native geometric types provided by postgres. ([See this link for more info](http://www.postgresql.org/docs/9.4/static/datatype-geometric.html#AEN6730))

When using these native geometric types, postgrex still errors out.

Here's

[2015-12-07 14:29] ericmj commented on #125
The basic geometry types are built-in to postgres to if someone provides the PR we will merge it.

I took a brief look at @bryanjos geo library and it does not seem to support the types here: http://www.postgresql.org/docs/9.4/static/datatype-geometric.html. It only supports the `geometry` and `geography` types which I guess are PostGIS types?

[2015-12-07 15:15] jbavari commented on #125
@ericmj I'd love to add this PR. I'd just need a little guidance on finishing it up.

As first posted, I've got the types put in place, the test set up.

My question is - where do I load the type with OID and the corresponding `_send` types?

[2015-12-07 15:16] bryanjos commented on #125
@ericmj yes `geometry` and `geography` are PostGIS data types. I had no idea about the geometric data types native to postgres. They seem to be generic geometric types and not specialized for geospatial applications.

[2015-12-07 15:19] ericmj commented on #125
@jbavari Check out the docs for extensions http://hexdocs.pm/postgrex/Postgrex.Extension.html. Also take a look at the extensions that ship with postgrex: https://github.com/ericmj/postgrex/tree/master/lib/postgrex/extensions.

[2015-12-07 15:30] josevalim commented on #125
Keep in mind there was a bug in Ecto where we would not reset the OID stuff after migration. Be sure you are on latest Ecto. The bug will persist when running tests, the first time you run your tests it will fail with OID reason, the next time you should be fine though. We are working for a fix on the test scenario too.

[2015-12-10 12:40] #122 closed

[2015-12-21 21:33] nickgartmann opened #129 "Bad error message for postgres-level erro"
Version: `0.10.0`

Managed to get a not very helpful error message when inserting a string that was too long for the `VARCHAR(255)` column it was supposed to be inserted into:

[code]

Code that generated it (content was coming from 3rd party web app):
[code]

[2015-12-21 21:58] fishcakez commented on #129
This looks like pooling issue in ecto. See my comment there.

[2015-12-21 21:58] #129 closed

[2015-12-24 03:25] yoavlt opened #130 "PostgreSQL Type 2277 oid is not found"
I use [PipelineDB](https://github.com/pipelinedb/pipelinedb) through this library.

I met an error around postgresql type. Its type is supported in other language driver (ex. https://github.com/lib/pq/blob/b269bd035a727d6c1081f76e7a239a1b00674c40/oid/types.go) How do I fix it?

Error message is the following.
[code]

[2015-12-24 10:16] josevalim commented on #130
Please check the README. We don't supporting all OIDs out of the box but you can write your own extensions to serialize them in the way that makes most sense to you: https://github.com/ericmj/postgrex#extensions

[2015-12-24 10:21] yoavlt commented on #130
@josevalim Sorry, I missed it. Thanks!

[2015-12-24 10:21] #130 closed

[2015-12-24 10:21] josevalim commented on #130
Glad to help!

[2015-12-24 12:24] victorlcampos opened #131 "Compile error on production env"
Hi guys,
When I try push to heroku I'm get this error:

[code]

[2015-12-24 13:04] josevalim commented on #131
Closing in favor of https://github.com/phoenixframework/phoenix/issues/1426. Please avoid opening multiple issues. :)

[2015-12-24 13:04] #131 closed

[2015-12-24 13:09] victorlcampos commented on #131
Sry,
When I opened this, I thinked that the problem was on postgrex, because I had problems to compile on my local machine.

After I remove _build it's worked local then I open a ticket on phoenix. Sry for did not close this one.

[2015-12-24 13:13] josevalim commented on #131
I see. No problem then :D

[2015-12-28 02:50] stevegraham opened #133 "Nesting hstore"
Apparently since 9.4 PG supports nesting hstore and also arrays. What would it take to add this to Postgrex? (I've already had a go but didn't get very far 😞)

[2015-12-28 08:09] ericmj commented on #133
I can't seem to find any references to nested hstore in the official docs. This page http://www.postgresql.org/docs/9.4/static/hstore.html says "keys and values are simply text strings".

There seem to be libraries for nested hstore in ORMs such as ActiveRecord, but this is a fake nesting. The nested hstore is stored as a string and doesn't get any of the benefits of a native postgres type such as

[2015-12-28 16:04] stevegraham commented on #133
Did this not make it into 9.4? http://sarahbranon.com/post/70117417009/improved-hstore-the-h-is-for-hooray

[2015-12-28 16:06] ericmj commented on #133
If it did make it in I think should have been mentioned in the documentation. Please take a look because I might have missed it.

[2015-12-29 22:29] rranelli opened #134 "Better error message on constraint violation"
It is quite frequent that I get error messages like this:

[code]

Since I have a rather complicated schema where more than one table has a column named "position_id", I end up spending some time hunting to discover where exactly the constraint is being violated.

Would it be feasible to add the table name to the error message? Something in the lines of

[code]

If this is not too hard to implemen

[2015-12-29 22:55] fishcakez commented on #134
If you rescue the exception or use `Postgrex.Connection.query/4`, the exception contains all the relevant data about the error, including the table in this case.

Hopefully this snippet will be enough of a clue of what you want:
[code]

[2015-12-29 23:01] josevalim commented on #134
Maybe we should include the postgres metadata in the error reports?

[2015-12-29 23:05] rranelli commented on #134
@fishcakez Nice! That is way easier than what I've been doing :) thanks

@josevalim that might be a good solution. I will take a look in the code and maybe come up with something

[2015-12-29 23:07] fishcakez commented on #134
In the map in the containing `table` in the snippet above, sometimes there is a `:detail` key. This can provide much more (useful) information. We should consider appending this to the message if it exists. I am unsure if it will help with this particular case though.

[2015-12-29 23:08] stevegraham commented on #133
I agree it's unclear from the documentation and it's beyond my level of PG expertise to find out. I'm going to close this issue for now. Do you recommend JSON if nesting is a requirement? What is Postgrex's support like at this point?

[2015-12-29 23:08] #133 closed

[2015-12-29 23:09] josevalim commented on #134
Maybe we should get some of those keys and include in the report. table, detail, what else?

[2015-12-29 23:19] fishcakez commented on #134
Here is the data we can get: http://www.postgresql.org/docs/9.4/static/protocol-error-fields.html

[2015-12-29 23:21] fishcakez commented on #134
From memory hint and schema are the only other fields not usually included in the message.

[2016-01-02 21:12] stevegraham commented on #133
After writing the above I discovered that Ecto has a map type corresponding to jsonb, which addresses all the shortcomings of hstore. I found it by chance reading through the Ecto docs looking for something else. Leaving this comment as a note for people coming across this issue in the future with similar requirements.

[2016-01-03 09:20] DavidAlphaFox opened #136 "bootstrap_query cost too much time"
Dear author,
I use postgresx 0.10.0 with PostgreSQL 9.4.4.
I found that the bootstrap_query cost too much time, then the server side close the connection.

I saw this in postgresSQL:

LOG:  statement: SELECT t.oid, t.typname, t.typsend, t.typreceive, t.typoutput, t.typinput,
           t.typelem, coalesce(r.rngsubtype, 0), ARRAY (
      SELECT a.atttypid
      FROM pg_attribute AS a
      WHERE a.

[2016-01-03 09:34] josevalim commented on #136
We need the types information so we know how to decode types. I would try a couple things:

1. Does the issue happen on Postgrex 0.9.0?
2. Have you configured the timeouts in your database in any way?

[2016-01-03 11:40] DavidAlphaFox commented on #136
I did`t use Postgrex 0.9.0. And I don`t configure any timeout in my database. I found that if the network bandwidth is very low such as only 10KB/s, it will be happened. I also found that the client throw a "tcp recv timeout" exception.

[2016-01-03 11:51] josevalim commented on #136
There is a timeout value you can pass when you call `Postgrex.Connection.start_link`: https://github.com/ericmj/postgrex/blob/403c0b3b36f5defecee259247cb261e4b6817f12/lib/postgrex/protocol.ex#L23. Just increase the value, like `timeout: 30_000`.

If you are using Ecto, it can be configured by setting connect_timeout in your Repo configuration.

[2016-01-03 12:09] DavidAlphaFox commented on #136
Thanks a lot, I see that. I found it would cost nearly two minutes in my wireless network to connect to a remote PostgreSQL.But it works.

[2016-01-04 12:17] ericmj commented on #136
Unfortunately postgrex needs this information due to how it encodes and decodes postgresql types. It would be possible to use simpler encoding/decoding without needing this information but that is not a goal of this driver at the moment.

[2016-01-04 13:51] fishcakez commented on #136
If the bootstrap query is that slow other queries will be too. If they are not there is a bug with bootstrap code :(.

[2016-01-04 13:53] fishcakez commented on #65
As an alternative could you make use of `encode_mapper`/`decode_mapper` in #128? We can allow use of these in Ecto 2.0 as Ecto will need these.

[2016-01-04 13:56] ericmj commented on #136
@fishcakez To be fair the bootstrap query is a pretty big unindexed query and can actually quite take some time if you have slow database with lots of types.

[2016-01-04 14:33] fishcakez commented on #136
Ah I haven't seen it take more than a second so was a bit worried.

[2016-01-06 14:36] fishcakez opened #137 "Add `connection_id` to Postgrex.Result and Postgrex.Error"
We will need a way to pass a connection id from Postgrex to Ecto for logging as the connection pid is no longer a good identifier. It is reused and an implementation detail of DBConnection. This may be useful for other loggers too.

@msch can you handle this?

[2016-01-07 03:57] DavidAlphaFox commented on #136
@fishcakez I don't think this is a bug. I think I should improve my network in my workplace. And I think fetch information of types to encoding/decoding is a great idea.

[2016-01-07 14:25] #137 closed

[2016-01-08 13:12] MSch commented on #65
My orginal use case was that I optionally wanted to send `regclass`/`regname` using text encoding, to make queries using them work like they do in `psql` or Rails. But I think the workaround described in [the README](https://github.com/ericmj/postgrex#oid-type-encoding) works fine, and Postgrex even links the user to the documentation of this caveat when they run into this problem.

So from my sid

[2016-01-08 14:08] fishcakez commented on #137
We may need to look at a different solution because passing the result of a transaction callback to the log in DBConnection is very complicated code and requires special paths for logging which I would prefer not to do :(. it might be we have to go for a call, similar to how parameters work, to get metadata about a connection. There is an issue tracking this in DBConnection and I will open an issu

[2016-01-08 16:09] ericmj commented on #65
Since this becomes even more complicated with type caching I am closing this.

[2016-01-08 16:09] #65 closed

[2016-01-08 17:07] MSch commented on #137
I actually wanted to file another enhancement request, having the option of doing a call, similar to the `parameters` 'call', that returns the connection id would be helpful for my use case (figuring out the pid of a transaction so I can cancel it)

[2016-01-08 22:46] fishcakez commented on #137
Could we have a `metadata/1` that returns a keyword of metadata designed to be passed directly to Logger but can be used for other things. For example we could have `:pg_backend_pid`, `:pg_backend_key`, `:pg_host`, `:pg_user`, `:pg_database` and `pg_connection_pid` in postgrex. In mysql there might  be `:mysql_connection_id`.

In Ecto we would need a way to identify logs in the same transaction. W

[2016-01-09 02:38] fishcakez commented on #137
Using the result based approach is added in #142.

@MSch if you need the `call` version for `connection_id` you'll need to open an issue

[2016-01-09 10:33] #82 closed

[2016-01-11 11:10] MSch opened #143 "Add function to retrieve current connection_id"
Enhancement request follow up from https://github.com/ericmj/postgrex/issues/137#issuecomment-170148690

I'd like to be able to do a `call`, similar to the parameters 'call', that returns the `connection_id`. I'd use this from within Ecto, so my approach would be to get the Postgres/DBConnection pid as I do right now (by looking into the pdict) and then `call`ing e.g. `Postgrex.Connection.connecti

[2016-01-11 12:35] josevalim commented on #143
Not sure I understand the question but in Ecto 2.0, you will have access to the Postgrex.Result or Error inside the LogEntry which will give you access to the connection_pid.

[2016-01-11 13:12] MSch commented on #143
I'd like to be able to retrieve the `connection_id` inside an Ecto transaction function without having to do a roundtrip to Postgres. My approach would be to get the `connection_pid` from Ecto, then `call` it to get the `connection_id`.

[2016-01-11 15:02] fishcakez commented on #143
Would it better to provide a `status` call (similar to :sys.get_status) that returns connection parameters, backend_pid/key and maybe other details as a map? `connection_id` is very specific and so not easy to extend or make generic, I don't think we would want to expose that through Ecto.

[2016-01-11 17:38] MSch commented on #143
That would work fine for me, I would have probably used `:sys.get_status` as a workaround otherwise anyhow. I could also see something like `DBConnection.info`, similar to `Process.info`.

[2016-01-11 17:41] fishcakez commented on #143
:sys.get_status wouldn't be safe because the pid could have a new connection.

[2016-01-12 15:49] fishcakez opened #146 "Move Postgrex.Connection to Postgrex"
There isn't really a need for the name spacing in this way and there is very little code in Postgrex.Connection. I think @ericmj mentioned doing this for convenience.

[2016-01-12 15:51] josevalim commented on #146
Can we do this for v0.11? Just move everything from Postgrex.Connection -> Postgrex?

[2016-01-12 15:56] ericmj commented on #146
Yeah, lets bundle it with 0.11. Then the next release can be 1.0 hopefully.

[2016-01-12 16:12] fishcakez commented on #146
Except for this, documenting the logging options and a new db_connection release what else is blocking 0.11?

[2016-01-12 18:03] ericmj commented on #146
You tell me :). Nothing more is blocking I think.

[2016-01-13 10:20] josevalim commented on #146
I am working on this.

[2016-01-13 12:42] #146 closed

[2016-01-17 02:12] fishcakez opened #149 "Unexpected msg_ready packet"
When using the Ecto ownership pool an unexpected msg_ready packet be received when rolling back the transaction: https://travis-ci.org/elixir-lang/ecto/jobs/102873680#L651

This issues blocks `0.11.0`

[2016-01-17 02:14] fishcakez opened #150 "Only describe when preparing an already prepared statement"
When preparing a query that already exists on the connection an error occurs. Instead we should only describe the query. See: https://travis-ci.org/elixir-lang/ecto/jobs/102873680#L642

This issues blocks `0.11.0`

[2016-01-17 15:28] fishcakez commented on #150
The current behaviour for preparing queries is not quite right, as seen by the failing tests.

Currently we always prepare a query when asked to prepare. However if a query with the same name is already prepared on the connection this causes an error. Therefore we should only describe an identical query that already exists on the connection when asked to prepare. However what should we do if a que

[2016-01-17 15:34] #149 closed

[2016-01-17 15:35] josevalim commented on #150
Doesn't this mean the name is wrong? Who is generating the names?

[2016-01-17 15:37] fishcakez commented on #150
Yes it almost certainly does. However in Ecto we need to use a hash for naming I think.

[2016-01-17 15:41] josevalim commented on #150
So it sounds like this should be good to close. Can't we use unique_integer or make_ref or something for building the names? We store them in Ecto's ETS and we should be golden.

[2016-01-17 15:42] fishcakez commented on #150
Ah yes, for some reason I thought we had to hash the SQL in Ecto but we can use a combination of `unique_integer`, `insert_new` and `update_element` to ensure we only ever create one unique name per cache key.

[2016-01-17 15:43] fishcakez commented on #150
So we will return error on name reuse?

[2016-01-17 16:44] josevalim commented on #150
I think so. Specially if that implies client error.

[2016-01-17 17:41] #150 closed

[2016-01-22 01:25] arthurcolle opened #153 "could not find Ecto.Adapters.Postgres.Connection [in Phoenix]"
Wanted to raise the issues originally posted here:
https://github.com/phoenixframework/phoenix/issues/1489
https://github.com/elixir-lang/ecto/issues/1211

[code]

The suggestion of using 0.11 did not solve the issue, but using 0.10 worked.

If there is any kind of regression between 0.10 and 0.11 I wanted to raise it.

Thanks

[2016-01-22 02:00] ericmj commented on #153
This is due to breaking changes in 0.11.0. A new release of ecto is needed that fixes the version requirement.

[2016-01-22 02:00] #153 closed

[2016-01-22 18:48] wrgoldstein opened #154 "Page not found for http://hexdocs.pm/postgrex"
The documentation link both on github and hex.pm returns a 404.

[2016-01-22 19:25] josevalim commented on #154
I pushed a fix and it should be fixed in 24h when our caches update. Meanwhile you can access it as: http://hexdocs.pm/postgrex/readme.html Thank you!

[2016-01-22 19:25] #154 closed

[2016-01-27 23:27] fishcakez opened #155 "Add an option to always use unnamed queries"
When using pgbouncer and transaction pooling the pg backend is only the same for the duration of a transaction and so named prepared queries will not work over multiple transactions. Even when forcing unnamed queries we can still cache the parameter/row descriptions and do one round trip when using Ecto's cache.

We will also need to stop closing unnamed queries in `execute_close` as the close may

[2016-02-02 19:09] nickveys opened #157 "Numeric.encode_numeric_float drops leading zeros from 4-digit segments"
Failing test here: https://github.com/code-lever/postgrex/commit/8609a13dfef2311bc32d65639bf277baf9c833c8

Leading zeros in a 4-digit segment of the decimal portions of the digits will be dropped.  Examples:

- 1.1111 -> 1.1111 OK
- 1.11111 -> 1.11111 OK
- 1.111101 -> 1.111110  BAD!
- 1.11110001 -> 1.11111000  BAD!

This seems to be due to splitting the digit list into 4's and then using `List.to_

[2016-02-02 22:35] #157 closed

[2016-02-11 18:58] whatyouhide opened #160 "Hostname should default to "localhost""
Right now, it doesn't default to anything :(

[2016-02-11 19:08] ericmj commented on #160
Postgrex 0.11.0 and Ecto master.

Error:
[code]

/cc @fishcakez

[2016-02-11 19:53] fishcakez commented on #160
This is an issue with the postgres adapter in Ecto master and not an issue
with postgrex. The adapter needs to call the default options function when
it returns the db_connection callback module and options. This should be
done in Ecto.Adapters.Postgres.Connection.connection/1 and the function is
in Postgrex.Utils but I forget the name, Andrea added it when he moved the
notify API to its own proce

[2016-02-12 00:30] #160 closed

[2016-02-12 00:31] robconery opened #162 "Do something other than throw when no extension found for OID"
Right now if I have `tsvector` in my table (which is common) or, more likely, I return a custom type for a query, [Postgrex throws](https://github.com/ericmj/postgrex/blob/master/lib/postgrex/types.ex#L293):

[code]

I'm still quite new to the Erlang world, but from my experience over the years in other platforms - libraries shouldn't throw (especially drivers) unless they quite literally cannot c

[2016-02-12 00:42] josevalim commented on #162
Thanks @robconery!

I would really avoid to return `nil` on those cases. Imagine a developer trying to work with a new type and they start getting nil. I would look at it and think: "is it `NULL` in the database?! No, it isn't. So why am I getting nil? Is it a Postgrex bug? Likely."

In other words, you know what you want to do (return nil) because the error message told you so. If we remove this

[2016-02-12 00:46] robconery commented on #162
Perfect! A struct or a simple `{:unknown, oid: ..., value: ...}` would be swell. Another thought would be to decode as a string - which is what a lot of other drivers do. I don't know if this is a simple option... but thanks for thinking on it :).

[2016-02-12 00:48] josevalim commented on #162
Since we use the binary protocol, we are getting a binary... so I would wrap it as it is not anything that would make sense to your application unless you decode it (which then would effectively solve the problem).

[2016-02-12 00:49] robconery commented on #162
Yeah I figured. Still bumbling around trying to figure out the binary stuff... but the *super cool* thing here is that we could use this *right now* with Moebius and things we're trying to do with various datatypes.

[2016-02-12 02:47] fishcakez commented on #162
It is possible to do this _right now_ using an extension:
[code]

You could list __all__ outputs (not just `"tsvectorout"`) that Moebius wishes to handle that Postgrex does not by default. It may be easier to do this by type, e.g. `[type: "tsvector"]`. Postgrex uses the wire encoding (output/send), rather than the internal type (type) because that the is data received by postgrex.

Of course to pr

[2016-02-12 18:24] robconery commented on #162
Wow. @fishcakez you're a freaky genius! This works perfectly - thank you!

[2016-02-12 18:30] robconery commented on #162
I'm going to close this for now - this is a fine solution!

[2016-02-12 18:30] #162 closed

[2016-02-12 18:40] fishcakez commented on #162
@robconery if you need some more help with Moebius's extensions feel free to mention me in a PR or contact me on IRC.

[2016-02-12 18:41] robconery commented on #162
Cheers - thanks :)

[2016-02-13 20:51] overallduka opened #164 "Error tcp connect: non-existing domain - :nxdomain"
Hello, im using Mac OSX mavericks and im trying to run an phoenix application using postgrex adapter.
Already search about similar errors but cant find anything anyone have some idea ?

 (recipe_book) web/router.ex:1: RecipeBook.Router.do_call/2
[error] Postgrex.Protocol (#PID<0.344.0>) failed to connect: ** (Postgrex.Error) tcp connect: non-existing domain - :nxdomain
[error] Postgrex.Protocol (#

[2016-02-13 21:00] josevalim commented on #164
Can you please post your repository configuration from `config/dev.exs`?

[2016-02-13 21:07] overallduka commented on #164
Oh, i could fix 2 minutes ago, i add:
`localhost     127.0.0.1 ` in my etc/hosts and restart my mac.

Thanks a lot by the answer, stop now from watching an keynote of you talking about Phoenix, big fan =D.

[2016-02-13 21:08] #164 closed

[2016-02-15 14:35] josevalim opened #165 "Move after_connect logic to callback"
/cc @fishcakez

[2016-02-15 19:02] #155 closed

[2016-02-15 20:50] ngzax commented on #98
@ericmj : More thanks for this, this thread saved me too. :+1:

[2016-02-15 21:05] #134 closed

[2016-02-15 22:02] ericmj opened #167 "Consider calling :binary.copy on binaries matched out of received tcp data"
A user on IRC had an issue where small binaries referenced received tcp data causing all tcp data received from the database to be held in memory. Calling `:binary.copy/1` on the binaries reduced binary memory usage from several gbs to 100mb.

I think we should call `:binary.copy/1` on all binaries matched out of the tcp data.

This also applies to mariex which the user was using.

/cc @josevalim

[2016-02-15 22:11] maxim commented on #167
I'm that user, AMA.

[2016-02-15 23:27] fishcakez commented on #167
I am not sure about doing this by default because it creates extra copies/garbage collection when the binaries are not long lived/shared. I think there is a disclaimer about not using `:binary.copy/2` unless required in the efficiency guide or somewhere in the docs. It is one of those situations where it is possible to do it by hand if it isn't on by default but cant be undone if done by default.

[2016-02-15 23:29] fishcakez commented on #167
One thing to note is that with postgrex (and in near future mariaex) the connection process never touches the binaries from a query. This means we can't get into the situation where the connection process is sitting idle and not gc'ing a big binary.

[2016-02-16 00:07] josevalim commented on #167
Ah, good call. @maxim was probably using the version of mariaex without db_connection. Closing this then!

[2016-02-16 00:12] maxim commented on #167
Yes, I've used mariaex 0.5.0 since that's what I'm locked into from with phoenix_ecto 2.0.1.

[2016-02-16 00:23] fishcakez commented on #167
@maxim issue would still occur with db_connection because the binaries used would still point to larger binaries.

[2016-02-16 00:59] ericmj commented on #167
As @fishcakez said this issue will still occur even if the connection process does not hold on to the binaries.

It shouldn't create extra garbage because the larger binary can be reclaimed much quicker, especially now that the connection process wont hold on to it. I think we should do this by default because the dangerousness of not doing it doesn't outweigh the performance benefit of copying so

[2016-02-16 03:24] maxim commented on #167
I agree with @ericmj because runaway RAM is never right, and ETS cache is not an obscure use-case.

[2016-02-16 08:24] liveforeverx commented on #167
I have read about binary:copy several times in erlang docs && guide(knows about, but don't run in the same issues somewhere until now).

http://erlang.org/doc/man/binary.html#copy-2

I think, it is exactly our use case, and we should copy default.

[2016-02-16 16:19] cblavier opened #168 "No extension found for oid '57317'"
Hey,

Using Postgrex 0.11.1 (along with Postgres 9.5 / PostGIS 2.2), I get an `no extension found for oid '57317'` error when using ST_Extent function (which returns something like that: `BOX(-4.71665 41.48708,9.51243 51.05328)`)

Thanks for your help

[2016-02-16 16:49] ericmj commented on #168
An extension has to be created for the postgis types. Check the docs http://hexdocs.pm/postgrex/Postgrex.Extension.html and here for examples of extensions https://github.com/ericmj/postgrex/tree/master/lib/postgrex/extensions.

[2016-02-16 16:49] #168 closed

[2016-02-17 08:23] cblavier commented on #168
Thanks, just wrote this extension, it seems to be working properly.
https://gist.github.com/cblavier/96b6ed9136400f14b1bd

[2016-02-17 22:48] fishcakez commented on #167
For me I take away the opposite opinion and it should be up to someone to explicitly copy if they face the situation as it is warning against always copying unless there is an issue. I feel like we are trying to outsmart the VM.

Using ETS is not obscure but I think facing the situation where a massive binary is accumulated and only a small part of it kept around in ETS is a rare case, certainly n

[2016-02-17 23:15] maxim commented on #167
@fishcakez Not a lot of numbers. Here's the SQL query:

[code]

Data types are

  * id - integer (all ids in the query)
  * name - string (<20 chars long)
  * entry - varbinary (13 bytes)
  * username - string (<20 chars long)

As you see, the query has a `JOIN` in it, and is fetched repeatedly in batches of 1000s. Before calling `:binary.copy`, each batch was adding 20MB to RAM, and wasn't releas

[2016-02-17 23:46] fishcakez commented on #167
Well a couple of small binaries and the rest are not binaries in ETS. If that entry is converted to a list of bytes thats 2 small binaries and 16 numbers :trollface:. Though really this seems like an obvious case for `:binary.copy/2` that unfortunately is not obvious until you know about it, so if we don't add an automatic copy we would definitely need to add documentation.

[2016-02-17 23:57] maxim commented on #167
Heh, I didn't actually specify what's going into ETS, just what's being loaded from SQL. Each element in the list is an integer 0,1, or 2. The ETS then receives 2 tuples (key and value), key containing 3 integers, and value containing 2 strings (the same ones as in the query), and 3 integers.

[code]

And yes, the `:binary.copy` trick is completely obscure. I think it's a bug in the db driver, but

[2016-02-18 00:05] fishcakez commented on #167
The problem with that is if a row is decoded to a list of binaries then each binary might be small compared to the row but reusing the row binary is very efficient.

[2016-02-18 06:21] josevalim commented on #167
Let's always copy. It is the correct thing to do.

On Thursday, February 18, 2016, James Fish <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-02-18 14:34] fishcakez commented on #167
If it is the correct thing to do, that implies we should be using copies for things like json decoding, in e.g. Poison?

[2016-02-18 16:01] josevalim opened #169 "Should we use "127.0.0.1" instead of "localhost"?"
The reasoning is that not all machines bind to localhost in their /etc/hosts.

[2016-02-18 16:05] josevalim commented on #167
It is the correct thing to do *in this case, based on this discussion*. :) I was too terse, sorry!

[2016-02-18 16:09] fishcakez commented on #167
I think I was too terse in fact! How should we handle json and hstore in postgrex?

[2016-02-18 20:12] josevalim commented on #167
Ah.... good question. No idea. :( Should we wait until somebody has a use case? Wouldn't they already hold a smaller binary anyway because what they received was already copied? Does Poison copy?

[2016-02-18 20:23] ericmj commented on #169
I don't know the implications of using 127.0.0.1 instead of localhost.

[2016-02-19 02:14] ericmj commented on #167
For json we should copy before passing it to the json decoder and let the json library handle it. Poison does not copy currently.

Since we decode hstore ourselves we should copy binaries after decoding.

Alternatively, since this seems to be an "issue" with every decoder library maybe we should just leave as-is and educate users about it?

[2016-02-19 03:01] maxim commented on #167
Hard to imagine what it would read like. "Internally drivers/decoders might parse big blobs, and if you keep those terms around, blobs will stay in RAM with them, be mindful of this leaky implementation detail." Official low-level db drivers shouldn't be the place where you chase/discover memory leaks.

[2016-02-19 03:06] ericmj commented on #167
To be fair, the leak is in your application. This discussion is about if it's worth it to lower the general performance of the driver to avoid these user errors.

[2016-02-19 03:37] maxim commented on #167
I'm surprised it's seen that way. I guess we'll disagree on that.

[2016-02-19 08:02] josevalim commented on #167
@ericmj I think we should copy. For example, Ecto 2.0 introduces parallel preloading, which means copying via Task.async+await. It would be PITA to traverse the data structures and dump everything. I wish we had an option to `send` that would copy binaries instead of sending references. :S Or at least a function that would do a "deep copy" so we didn't have to traverse the whole structure ourselve

[2016-02-21 09:37] jeandavid opened #170 "mix compile failed on v0.11.0"
Hi Eric,

Updating elixir to 1.2 (from 1.0), phoenix to 1.1.4 (from 1.0.3), I also updated :postgrex to 0.11.0.
When I run mix deps.get, it fails on postgrex:

`(CompileError) lib/postgrex/protocol.ex:61: Postgrex.Protocol.__struct__/0 is undefined, cannot expand struct Postgrex.Protocol`
`(elixir) src/elixir_map.erl:58: :elixir_map.translate_struct/4`
Any help?

Thanks!!

[2016-02-21 10:03] josevalim commented on #170
@jeandavid try nuking `_build` and let us know if it works.

[2016-02-21 10:05] jeandavid commented on #170
@josevalim could you please be more explicit? Thank you:)

[2016-02-21 10:08] josevalim commented on #170
Sure! In your application, there is a `_build` and `deps` directory. Please fully remove both of them and then run `mix deps.get` and `mix test` and let us know if it works.

[2016-02-21 10:12] jeandavid commented on #170
Great it compiled!
Thanks a lot @josevalim !!

[2016-02-21 10:16] #170 closed

[2016-02-24 07:40] jeandavid commented on #170
@josevalim Now that I am trying to update the production server on heroku, I get the same issue. I am not sure that I can manually delete a folder in an heroku app.
Would you know how to push changes to the production repo on heroku? Thanks!!!

[2016-02-24 07:41] josevalim commented on #170
Set the "always_rebuild=true" on your heroku deployment configuration:

https://github.com/HashNuke/heroku-buildpack-elixir#configuration

[2016-02-29 07:07] ibizaman commented on #34
What is the exact status of this? Is datetime with timezone supported?

[2016-02-29 12:01] ericmj commented on #34
No, the protocol doesn't support it so postgrex can't support it.

[2016-03-19 15:01] josevalim commented on #167
Btw, if someone would like to pick this up, it would be really appreciated.

[2016-03-19 15:31] ericmj commented on #167
I'm still not sure if we should do this. We need benchmarks first either way.

[2016-03-19 15:33] josevalim commented on #167
I think this is the correct thing to do, with or without numbers, otherwise, as I said, things like parallel preloading in Ecto would totally leak binaries. I think we should copy by default, if someone wants raw speed, then they can disable this behaviour.

[2016-03-19 17:31] ericmj commented on #167
Agreed. This is up for grabs. The default should be to copy but we need an option to disable it.

[2016-03-21 09:45] thenrio opened #175 "execute query in chunks"
say, fetch 400,000 rows by chunks of 1000

there are two goals

* improved capability
when rows do not fit in memory, pulling then writing all chunks SHOULD enable to write all rows

* increased performance
`total_response_time( chunk_size )` MAY look like a U curve

( see elixir-lang/ecto#493, and also #7 that enables this feature )

[2016-03-23 21:56] madshargreave commented on #106
Did you find a solution to this?

[2016-03-25 14:56] nateless opened #177 "Request for batch queries."
Hey guys,

We need to process several thousands inserts\updates as raw sql. But currently it's not allowed because of prepared statements. We would like to have that ability as the only way we have now is to put it into a text file and use psql copy to process them, which is kinda weird.

[2016-03-25 20:49] ericmj commented on #177
Issuing multiple statements in the same query requires using simple queries, postgrex only supports extended queries. There is currently no plans to support simple queries because it only uses the text format encoding. The binary format is much simpler and performant, adding the text format would mean duplicating all of the encoding/decoding and exposes you to subtle bugs such as SQL injection.

I

[2016-03-26 10:27] fishcakez commented on #177
Are you requesting support for `COPY table FROM STDIN`? It might be possible we could support that using a `Collectable`.

[2016-03-29 11:10] nateless commented on #177
@ericmj, sorry but how I can do prepare/execute thousand updates with one command? AFAIK it just makes several thousands requests. I do understand that it will not parse the query each time, but it barely can save us from many requests which would take majority of time.

@fishcakez, well it would help us a little but not with update queries. In our app we process each entity which has several thou

[2016-03-29 13:06] fishcakez commented on #177
@nateless it would be possible to support simple (unparametrised/unprepared) queries but someone wanting it would have to do the proposal/work to add the feature. It would be a lot for them to do.

An alternative might be to look at https://github.com/ericmj/postgrex/pull/145. It is out of date and could do better batching to the socket.  Both of these issues would need fixing. However it does hav

[2016-03-29 17:53] divmgl commented on #170
Still running into this issue with `0.11.1` after removing `_build` and `deps`.

[2016-03-29 17:57] divmgl commented on #170
Disregard, running `mix` seems to have fixed it.

[2016-04-01 11:40] andrewtimberlake opened #178 "(ArgumentError) no extension found for oid `19`"
I’m trying to run the following query through Ecto both as a built up query and as a raw SQL query, both give me the above error.

The query is,
[code]

[2016-04-01 13:29] ericmj commented on #178
We need to add support for the `name` type. As a workaround you can cast the selected columns to `text`.

[2016-04-01 18:41] #167 closed

[2016-04-05 11:51] fishcakez commented on #165
If we bootstrap in `after_connect` using the current type server the `after_connect` process will be monitored and not the connection process. Even if we update the type server to switch monitors on successful bootstrap there still exists a race condition where the bootstrap is a successful but the connection process times out. In this situation the connection process is monitored by the type serv

[2016-04-09 12:33] bcardarella opened #180 "support for LISTEN?"
I notice that there is support to `NOTIFY` a postgres channel. Is there any way to support a postgres `LISTEN` as well? I would think it would be a process that just subscribes to the postgres channel with a callback that fires.

[2016-04-09 12:50] ericmj commented on #180
Yep. Check out `Postgrex.Notification`.

[2016-04-09 12:57] bcardarella commented on #180
Nice! Thanks :)

[2016-04-09 12:57] #180 closed

[2016-04-18 13:47] madshargreave opened #182 "How to specify PG version 9.5.0"
I am currently having trouble with a version mismatch when running `pg_dump` on my docker hosted app

It complains the server is version `9.5.0`, while the client is `9.4.5`.

I am not sure if this is the correct part of the stack to specify the client version, if so, how can I change it so it matches?

[2016-04-18 14:31] josevalim commented on #182
@madshargreave I don't think this is related to postgrex at all. pg_dump does not go through postgrex.

[2016-04-18 14:35] ericmj commented on #182
You likely need to update the postgresql client package on your system.

[2016-04-18 14:35] #182 closed

[2016-04-21 21:20] fishcakez opened #183 "Support COPY .. TO STDOUT and COPY .. FROM STDIN using streams"
For initial stream support see #176. Once that is merged we can work on supporting bulk copies.

/cc @benwilson512 (sorry to the wrong ben wilson)

[2016-04-23 21:39] jamesvl opened #184 "Support ltree column type"
I'd like to add support for the `ltree` column type.

The test in `query_test.exs` would be something like:

    test "decode ltree", context do
      assert [["1.2.3"]] = query("SELECT '1.2.3'::ltree", [])
      assert [[true]] = query("SELECT '1.2'::ltree @> '1.2.3'::ltree", [])
    end

And the `test_helper.exs` script needs this added to its definition of `sql` (otherwise the OID for ltree typ

[2016-04-23 22:18] fishcakez commented on #184
Postgrex supports binary and text encoding. The `Postgrex.Extension` behaviour docs should point the way, especially the `:format/1` callback for choosing the encoding type. You aren't the first person to stumble on extensions for text encoding, is there somewhere we (incorrectly) suggest we don't support text encoding?

[2016-04-24 00:20] jamesvl commented on #184
Lack of examples, perhaps? The first thing I did was try to see if other extensions used the `:text` format.

Docs are not super clear to me; then again, I've only begun my deep dive into Elixir. I'll gladly submit PRs if I think I can add some clarity to them.

And I do have

      def format(_), do: :text

in my extension; when that still wasn't working I decided to post here.

[2016-04-24 09:09] fishcakez commented on #184
What do you try for `matching/1`? For text format you would want something
like `[output: "type_out"]` or `[output: "typeout"]`. To find the correct
send or output matching value you can do the following:

* Try a query like "SELECT foo::type" without a matching extension and get
an oid not found error.
* Lookup the encoding of send and output with "SELECT
typsend::text,typoutput::text FROM pg_typ

[2016-04-24 16:25] jamesvl commented on #184
Ah! I got it working now.

It really was just my inexperience with Elixir, knowing how to properly hook into the Postgrex `@behaviour`, and not seeing another text extension to work (ahem, copy/paste) from. Was actually pretty easy.

Is there anywhere in the docs I can look to how to include this extension into postgrex? Should I create a pull request for this to be added?

[2016-04-24 20:38] fishcakez commented on #184
I will differ to @ericmj whether to add the extension for `ltree`. If you want to do a PR it should be a case of adding the `Postgrex.Extensions.LTree` module with a `decode_binary` option (see `Postgrex.Extensions.Raw`), adding the module to the list of default extensions in `Postgrex.Utils` and adding an encode/decode test in `test/query_test.exs`.

A recent extension PR: https://github.com/eric

[2016-04-24 20:38] #184 closed

[2016-04-25 08:03] ericmj commented on #184
If ltree ships with postgresql we can add it but if it only supports the text format I am hesitant since it won't compose with other data structures.

[2016-04-26 23:44] fishcakez commented on #165
I have started on this

[2016-05-01 18:16] jamesvl commented on #184
Thanks all for the help with this.

Agreed that there's not much point in including the ltree extension if it's just text and not binary. I'm going to see if I can understand if / what the Postgres binary format is for ltree data and will try to write the extension (using PR #161 as an example) for your review.

Two things that may help in the mean time:
- where the docs say things like `Postgrex

[2016-05-01 18:54] fishcakez commented on #184
You don't need to fork postgrex, simply:
* Create extension module, e.g. `MyApp.Extensions.LTree`, inside your own application
* Add `[extensions: {MyApp.Extensions.LTree, opts}]` to `Postgrex.start_link/1` options, where `opts` is any term passed to the `init` callback.

[2016-05-01 18:57] fishcakez commented on #184
That should be `[extensions: [{MyApp.Extensons.Tree, opts}]]`

[2016-05-01 19:32] jamesvl commented on #184
Thanks for the direction - I'll do that!

I did just write up a binary version that matches what's defined in the Postgres `ltree.h` source code. Unfortunately, I believe Postgres will only send it as string, as it gives back

[code]

Looks like it's string-only for this data type.

[2016-05-08 09:01] sdesbure opened #185 "disconnection when retrieving huge JSON column"
Hello, I'm working on a server that create a map looking like this:

[code]

I manage to create huge column (32M and 76M of JSON) but I cannot retrieve with postgrex the second one :
`[error] Postgrex.Protocol (#PID<0.344.0>) disconnected: ** (Postgrex.Error) tcp recv: not enough
memory - :enomem`

I tried to play with socket options (ended with  `socket_options: [recbuf: 16777216, sndbuf: 1677721

[2016-05-17 07:12] Rakoth opened #187 "I may be missing something obvious here, but how do I close a connection?"

[2016-05-17 07:33] josevalim commented on #187
You can terminate the process that owns it:

    {:ok, pid} = Postgrex.start_link(...)
    Process.exit(pid, :shutdown)

[2016-05-17 07:45] Rakoth commented on #187
Thanks!

[2016-05-17 07:54] #187 closed

[2016-05-17 12:17] Rakoth commented on #187
Also did `Process.unlink(pid)` first

[2016-05-20 14:29] chrismccord opened #189 "Large inserts cause parse errors"
Trying to insert 18k records via Ecto's insert_all causes the following error:

[code]

This was solved by chunking inserts. I'm assuming there's some hard limit in pg for commands, so it's possible postgrex could detect the issue.

[2016-05-20 14:41] ericmj commented on #189
We can check if the query size or number of parameters exceed the protocol limits and raise an appropriate error message instead of crashing.

But it looks like this error is from parsing the response from postgres so it seems to a bug in postgrex also.

[2016-05-20 15:14] chrismccord commented on #189
Postgres version 9.5.3

[2016-05-22 01:27] StevenNunez opened #190 "Add support for ltree type"
Currently getting this error after creating an extention for `ltree`.
Type needs to be written for it.
** (ArgumentError) no extension found for oid `342186`

[2016-05-22 08:29] josevalim commented on #190
See: https://github.com/ericmj/postgrex/issues/184

[2016-05-22 08:29] #190 closed

[2016-05-22 08:32] josevalim commented on #177
Closing this as there is no plan to support simple queries for now.

[2016-05-22 08:32] #177 closed

[2016-05-22 08:32] #169 closed

[2016-05-30 02:29] adamboas opened #191 "LISTEN/NOTIFY doesn't seem to work"
Postgrex.Notifications#listen seems to call through to db_connection's Connection module with {:listen, &lt;channel_name&gt;}. There is no handle_call in Connection that matches these arguments so I get the following stack trace:
[code]
Perhaps I am using this wrong? I actually can't see how the underlying connection could handle a listen call at all.

[2016-05-30 07:12] ericmj commented on #191
Did you start the connection with `Postgrex.Notifications.start_link/1`? Can you show your code?

[2016-05-30 15:52] fishcakez commented on #165
Fixed in 6f858c5fd2aa92ca83f74c941bf5f56202ab2dd2 but using a different approach. Instead we use `:timer` to shutdown the socket if we timeout during handshake. This keeps the code simpler and means we don't need to send auth information to a task that will log its arguments on error. That commit fixes the issue with the type server leak too.

[2016-05-30 15:52] #165 closed

[2016-05-30 16:11] fishcakez commented on #189
I believe @chrismccord is trying to do a query with 170,000 parameters, and if so this is what is happening:

The postgresql wire protocol only supports encoding the number of parameters as a 16 bit integer or up to 32767. When encoding 170,000 as 16 bit integer we get this: <<152,16>> = <<170_000:16>> because it gets truncated to 2 bytes, with the minimum encoded binary being <<2, 152,16>>. This

[2016-05-30 18:25] hubertlepicki opened #192 "Support Elixir 1.3 native date types"
Should Postgrex work with native date types directly? 😃

[2016-05-30 18:43] josevalim commented on #192
That would be backwards incompatible but maybe for now Postgrex could ship with an encoder module that works with the new Elixir data types?

[2016-05-30 18:54] hubertlepicki commented on #192
I guess it could be configuration option rather than auto detection.

[2016-05-30 19:07] josevalim commented on #192
Yes, we will use the extensions configuration we have today.

[2016-05-30 23:13] ericmj commented on #192
We can bump postgrex to support 1.2 only. But it's too early to support 1.3 date types now since they are not released yet and it would be backwards compatible.

If you would like to add an optional extension module that supports them it would be appreciated.

[2016-05-30 23:14] ericmj commented on #189
So the fix is to add a guard clause that errors if the number of parameters exceeds 2^16 and clearly document this restriction.

[2016-05-30 23:21] ericmj commented on #143
What's the status of this? Is it still needed?

[2016-05-30 23:22] ericmj commented on #178
A PR would be appreciated.

[2016-05-30 23:22] #178 closed

[2016-05-30 23:24] ericmj commented on #185
How much free memory do you have on the machine and how memory have postgrex used when you get the error?

[2016-05-30 23:49] fishcakez commented on #191
As @ericmj suggested this is calling `Postgrex.Notifications.listen/2` on a process started with `Postgrex.start_link/1` instead of `Postgrex.Notifications.start_link/1`.

[2016-05-30 23:49] #191 closed

[2016-05-31 00:03] fishcakez commented on #143
If one is being naughty and abusing the undocumented `pdict` entry for Ecto 2.0, then it is not a leap to abuse the undocumented DBConnection `pdict` entry that it points to, and from there the Postgrex.Protocol struct is available that contains the `connection_id`. I think we can close this unless someone can propose a fully documented suggestion.

[2016-05-31 00:03] #143 closed

[2016-05-31 00:06] fishcakez commented on #185
@sdesbure could you included your OS information?

A quick search picked up this old mailing list thread: http://erlang.org/pipermail/erlang-questions/2006-September/022909.html. If this or a similar situation still exists I think we could limit the max recv size.

[2016-05-31 00:11] adamboas commented on #191
That was the problem. I didn't notice that Notifications was it's own gen server.Thanks for your help @ericmj .

[2016-05-31 00:17] fishcakez commented on #189
Ah, we don't actually send the number of parameters at this point and we may not know them (preparing query without parameters). It is postgresql that is sending the invalid value before we get a chance to.

[2016-05-31 08:51] hubertlepicki commented on #192
@ericmj would you like new extensions, i.e. NativeDate to replace Date, NativeTime for Time and NativeTimestamp for example?

Because the alternative would be to amend existing extensions to encode/decode types differently depending on options passed to them.

[2016-05-31 09:11] ericmj commented on #192
I prefer new extensions over adding options to the existing ones.

[2016-05-31 11:42] hubertlepicki commented on #192
Got it. Would result in cleaner code this way.

@josevalim you agree? You mentioned configuration options so I have a hunch you would go with different approach?

[2016-05-31 11:44] ericmj commented on #192
New extensions is better either way, because adding options to the existing ones would be even more verbose configuration. We can add a top-level option to `Postgrex.start_link` but that's orthogonal to the discussion of new extensions vs. adding options to existing ones.

[2016-05-31 11:50] hubertlepicki commented on #192
Alright, let me start do some work on those, I'll propose a PR soon(ish).

I have one more related question: how do you think we should treat datetime with zones vs. without zones? PostgreSQL supports both table columns. The new Elixir types support zone info (albeit not complete). We could make it so the zone info is carried over back and forth from PostgreSQL if the underlying type specifies it,

[2016-05-31 11:53] ericmj commented on #192
In postgres timezone is always normalized to the timezone configured on the client connection. If you actually need to get the original timezone value you need to use a custom data type or store it in a secondary column which is out of scope for a driver. Projects like calecto solves this problem.

[2016-06-01 07:37] sdesbure commented on #185
Hello,
thanks both of you for trying to solve the issue :)
Here's my answers
@ericmj
phoenix server started:
[code]

retrieving the "small" json file:
[code]

retrieving the "big" json file:
[code]

@fishcakez
my OS is debian stretch
postgresql: 9.5+174
iex : Erlang/OTP 18 [erts-7.3] [source] [64-bit] [smp:4:4] [async-threads:10] [kernel-poll:false]
postgrex: 0.11.1

if it can help...

[2016-06-01 08:41] ericmj commented on #185
So it seems like an allocation issue in the OS TCP buffers. I think we need to limit the size of the receives we do.

[2016-06-04 20:06] hubertlepicki commented on #192
@ericmj I have question to this part:

"In postgres timezone is always normalized to the timezone configured on the client connection."

In my experience, I am always getting the time in UTC. For example:

[code]

While the local time is 22:00, the values I am getting are in UTC.

Does this mean thatn when using Postgrex, we always are getting UTC dates, and this is what we should also send to dat

[2016-06-06 10:57] fishcakez opened #194 "Postgrex.TypeServer reaps types when pool shrinks to 0 or database goes offline"
This invalidates prepared query type information.

[2016-06-06 18:28] ericmj commented on #192
I'm on my phone but if you google "PostgreSQL set time zone" you will find
instructions. Your database is probably configured to use utc by default.

On Saturday, 4 June 2016, Hubert Łępicki <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-06-07 15:20] #194 closed

[2016-06-07 15:30] fishcakez commented on #175
Added in 7e6822d7d1d241f9fd8388a3c022cf8612002db4

[2016-06-07 15:30] #175 closed

[2016-06-07 23:40] lau commented on #192
The postgres type "timestamp without time zone" should be `NaiveDateTime`.

Postgres' "timestamp with time zone" is a datetime in UTC. AFAIK Postgres does not store any timezone information in the database except that "this value is in UTC". These should be returned as a `DateTime` structs in UTC.

But if postgres is configure to another time zone than UTC, it will return a datetime "shifted" to a

[2016-06-08 06:09] ericmj commented on #192
Even if we did receive time zone information ( we don't) from the database
we shouldn't use it to build the DateTime struct because the offset changes
as you change time zone configuration.

On Wednesday, 8 June 2016, Lau Taarnskov <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-06-08 07:09] ericmj commented on #192
We don't receive from the database because we use the binary data format. But with the text format we only get the offset from UTC the database or connection has been configured to use. Because, as you said, postgres doesn't store the offset it feels wrong to use the current offset to build the DateTime struct.

[2016-06-08 08:50] hubertlepicki commented on #192
Alright so I think the behavior of the binary protocol is to *always* return dates in UTC, it also expects the dates to be sent in UTC. This is important to say "between" queries, and you can get yourself into trouble if you don't do that. For example my system's PostgreSQL is configured to "Poland" time zone, and using PSQL or other clients that do text protocol we get local timestamps. When usin

[2016-06-08 09:10] ericmj commented on #192
That sounds reasonable. So we should do the following: Accept naive
datetimes and assume they are UTC. Accept datetimes with time zone only if
they are UTC. Always return datetimes with time zone in UTC. And finally
document that the driver assumes the database or connection is configured
to use UTC.

I also need to do some checks when I get back from vacation to see that we
don't get any surprise

[2016-06-08 09:11] hubertlepicki commented on #192
Good discussion, thank you all :)

[2016-06-11 13:16] josevalim opened #201 "Please depend on db_connection "~> 1.0.0-rc" and release a new version"

[2016-06-14 14:27] mspanc opened #204 "Add tsvector extension"
Hello,

at the moment attempt tu use postgrex with table that contains tsvector column ends up with the following errors:

[code]

I can try to implement this but can you give me any guidance before I read whole source code of postgrex?

[2016-06-14 15:48] fishcakez commented on #204
An example PR is here: https://github.com/ericmj/postgrex/pull/161

Note that the extensions can be used from your project and need not be part of postgrex.

[2016-06-14 18:38] ericmj commented on #204
Please send a PR. If you have any additional questions, feel free to ask them here or in your PR, thank you.

[2016-06-14 18:38] #204 closed

[2016-06-14 18:48] #185 closed

[2016-06-14 22:56] #183 closed

[2016-06-14 23:11] fishcakez opened #205 "Review `command`, `rows` and `num_rows` in result struct"
Now that we have streams we generate result structs without getting a completed message from postgres. This system should be reviewed for consistency and then tested.

When streaming should `num_row`s be the number of the rows returned in the result? When copying from the database we know the running total and include the number matching the row count. However when copying to the database we don't

[2016-06-14 23:16] fishcakez commented on #201
I think #192 would be the only blocker for a `1.0.0-rc.0`, what do you think @ericmj, perhaps we could have a `1.0.0-pre.0`?

[2016-06-15 08:38] ericmj commented on #201
Sounds good. It seems #205 could be a breaking change also?

[2016-06-15 09:48] fishcakez commented on #201
Yes that too.

[2016-06-15 16:45] fishcakez commented on #205
Fixed in https://github.com/ericmj/postgrex/commit/881c9951bc7f76d9ba4aa5fb366b7fe93855095f.

[2016-06-15 16:45] #205 closed

[2016-06-15 16:47] fishcakez commented on #192
@hubertlepicki ping :smile:

[2016-06-15 17:50] ericmj commented on #205
:+1:

[2016-06-15 18:38] fishcakez commented on #201
@ericmj since #192 is a backwards compatible addition and calendar hasn't landed in ecto nor Elixir stable, perhaps we could do a release so we can do a new Ecto rc? It need not be `1.0.0-rc.0` if you don't want.

[2016-06-15 18:44] ericmj commented on #201
We can cut 1.0.0-rc.0 but that means we would have to release 2.0.0 if we want to change the calendar type defaults. Depending on when elixir 1.3.0 is going to release it might be better to cut a <1.0.0 release with support for the new calendar types but with the current defaults, then release 1.0.0 with the new calendar defaults.

[2016-06-15 18:52] fishcakez commented on #201
@ericmj lets go for whatever version you want :smile:

[2016-06-15 18:53] josevalim commented on #201
@ericmj it depends on what we want to do. Do we want Postgrex to depend exclusively on Elixir v1.3? If so, then we should release `0.NEXT`. If we want to simply provide calendar types as extensions, then this one can be a 1.0.0-rc.0. I thought you didn't want to depend exclusively on Elixir v1.3. So what are your thoughts?

[2016-06-15 19:09] fishcakez commented on #201
Before a release we should change the docs to point to DBConnection for all pooling options because I think we may have got out of sync with defaults and are missing options, like `:log`. I will go through that today.

[2016-06-15 19:46] fishcakez commented on #201
Done

[2016-06-16 11:20] #201 closed

[2016-06-16 11:32] arkadiyk opened #206 "v0.11.2 release broke `mix ecto.create`"
Fails with the following error:
[code]

works fine after I downgraded to 0.11.1

[2016-06-16 11:38] josevalim commented on #206
Yes. I am releasing a new Ecto that will fix it too. :)

[2016-06-16 11:40] #206 closed

[2016-06-17 14:49] sdesbure commented on #185
Hello, the problem is solved!

Thank you :)

[2016-06-21 10:33] michalmuskala opened #208 "Support oid query and necassary types"
Example: `SELECT typname FROM pg_type WHERE oid = …;`

\cc @ericmj

[2016-06-21 11:25] ericmj commented on #208
We should try to support the types of all columns in the `pg_type` table.

[2016-06-25 22:10] thbar commented on #177
@nateless I'm curious to know what you ended up doing for this, since I'm working on a prototype ETL tool for Elixir; are you still calling psql on your file, or did you ended up with something like @ericmj mentioned, or even something different? Thanks for your feedback!

[2016-06-26 21:01] nicbet opened #210 "IEx 1.3.0 - Postgrex.Protocol failed to connect :econnreset"
Once in a while, execution of `iex -S mix` will result in one or more error lines stating:

[code]

Relevant dependency versions are listed as:

[code]

[2016-06-26 21:12] fishcakez commented on #210
@nicbet I am afraid I don't think there is enough information to go on here. Would need to at least see the configuration.

[2016-06-26 21:15] nicbet commented on #210
@fishcakez Configuration is what Phoenix 1.2.0 generates out-of-the-box via `mix phoenix new`. I'll be happy to post a copy if needed.

[2016-06-26 21:15] fishcakez commented on #210
Please because I have no idea :)

[2016-06-26 22:19] nicbet commented on #210
Application generated via `mix phoenix new blub`

File `mix.exs`:

[code]

File `config/config.exs`
[code]

File `config/dev.exs`:
[code]

[2016-06-26 22:49] ericmj commented on #210
Unless you can give us something more to go on there's not much we can do. You are the first one reporting this so my guess would be something with the local setup.

Please let us know if you have any more information.

[2016-07-06 15:21] janjiss opened #212 "Changing the structure of the database on the fly causes: ERROR (feature_not_supported): cached plan must not change result type"
Okay, so this might qualify as a bug or might not, but we have a shared database between two apps. The structure does not actually change for us, but I was not able to reproduce the bug with barebones app without changing the structure of the table, hence the example changes the type of the column.

When we change the structure of the table outside of phoenix, db connections in the pool throw an e

[2016-07-06 15:38] fishcakez commented on #212
I think this is a bug in Ecto, and not Postgrex. Before I investigate this could you quickly try adding the repo option `prepare: :unnamed` and report back if the error still occurs.

[2016-07-06 16:15] fishcakez commented on #212
There are 3 caches in Ecto/Postgrex:

1) Per (Postgrex) connection query cache for prepared queries
2) Per (Postgrex) database type cache for caching type information
3) Per (Ecto) Repo query cache for caching query generation to a prepared query

After some testing I have been able to invalidated all of these caches by changing a table while Ecto/Postgrex is running. Caches from 1) and 3) can be

[2016-07-06 16:23] janjiss commented on #212
@fishcakez Looks like it solved the problem. Now I need to test ```prepare: :unnamed``` with the production app. Will let you know

[2016-07-06 16:25] fishcakez commented on #212
@janjiss `prepare: :unnamed` disables the cache in 1). However the cache from 3) will be invalid and you may get hidden bugs.

[2016-07-06 19:08] Linicks opened #213 "Add Static Type Mapping Configurations"
All,
  In a recent attempt to use Postgrex with CockroachDB's Postgresql interface, I ran into issues leading to the following conversations on Google groups:

[Elixir-Talk]
- https://groups.google.com/forum/#!topic/elixir-lang-talk/5GjZryBTusI

[CockroachDB]
- https://groups.google.com/forum/#!topic/cockroach-db/WVm4P8PX1cM

The summary of these conversations is that Postgrex currently relies on

[2016-07-07 02:20] andykingking commented on #210
I am also experiencing this (both locally and on CI). Running the `white_bread.run` mix task sporadically produces the above error.

Postgres v9.4 is running in Docker using the official image, with the standard port exposed to local.

Elixir version: 1.3.1
Postgrex version: 0.11.2

File `mix.lock`
[code]

[2016-07-07 03:34] nicbet commented on #210
@andykingking Like you I am executing my PSQL as a Docker container, official image (version 9.5.3). I'm wondering if some configuration in that docker image is messing with the connection pool?

setting `config :app, App.Repo, pool_size: 2` usually makes the problem less frequent. Maybe the OTP app has problems closing/releasing connections to PSQL in/from the connection pool, as the PIDs in the

[2016-07-07 06:39] andykingking commented on #210
Just to clarify, the Postgres instance that I am connecting to is in a Docker container, however my Elixir app is running locally, which happens to have Postgres installed.

[2016-07-07 07:57] josevalim commented on #210
@nicbet in other words, if you keep the pool size as 10 but increase max_connections on PSQL side to 1000, the problem disappears?

[2016-07-07 12:00] janjiss commented on #212
@fishcakez Can confirm that this fixes the issue only half way trough.

[2016-07-07 12:14] fishcakez commented on #210
Postgresql will return a postgresql protocol fatal error on too many connections. I am pretty sure this is an issue with your docker configuration but I am not sure what.

[2016-07-07 12:20] fishcakez commented on #212
@janjiss we can track it here as we will need to make changes here before handling it in Ecto.

[2016-07-08 04:45] andykingking commented on #210
@fishcakez Here is my `docker-compose` file, I'm using the official docker image. What do you think it could be?

[code]

[2016-07-08 13:13] fishcakez commented on #210
@andykingking sorry I dont know enough about docker to know. If the max connections is reached at the database level you should get log messages like this with postgresql 9.5:
[code]

[2016-07-09 00:04] fishcakez commented on #213
Currently we have an undocumented option `types: boolean` for internal use. I guess we could change this to `types: :query | [%Postgrex.TypeInfo{}]` and jump straight to `Postgrex.Types.associate_extensions_with_types` when bootstrapping with a list of types.

It would be interesting if this change would also allow support for redshift - no idea tbh - as it would be simple change. I would be conce

[2016-07-09 04:07] talentdeficit commented on #213
allowing static type mappings would allow redshift support also, as it's currently blocked on a similar issue

[2016-07-09 06:53] josevalim commented on #213
Maybe we could include some tests to guarantee it at least bootstrap on
those other DBs and add them to Travis?

On Saturday, July 9, 2016, alisdair sullivan <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-07-09 16:11] talentdeficit commented on #213
the static type table required by cockroachdb:
[code]

the static table required by redshift:
[code]

[2016-07-09 16:16] fishcakez commented on #213
This is great @talentdeficit. Is it possible for us to automatically detect the backend before we send the bootstrap query?

[2016-07-09 16:31] talentdeficit commented on #213
output of `SELECT version()` on postgres 9.4.5:
[code]

output of `SELECT version()` on redshift:
[code]

output of `SELECT version()` on cockroachdb latest beta
[code]

[2016-07-09 16:32] talentdeficit commented on #213
postgres exposes both numeric and easier to parse version identifiers to via `SHOW server_version` and `SHOW server_version_num` but cockroachdb doesn't support `SHOW` and redshift doesn't allow sufficient permissions to use `SHOW`

[2016-07-09 16:40] fishcakez commented on #213
@talentdeficit do we get parameters from the database after auth that we can use? For example we get the version from postgres. See `Postgrex.parameters/1`.

[2016-07-09 16:58] talentdeficit commented on #213
with the modification in #215 i get the following with redshift:
[code]

i think but am not convinced that cockroachdb returns:
[code]

[2016-07-11 00:33] andykingking commented on #210
@fishcakez Thus far I haven't seen the error you mentioned. I'll investigate further.

[2016-07-11 19:16] vietord commented on #178
Ran into the same issue. For the curious my use case was validating that a particular set of extensions existed before running a migration, and the pg_available_extensions name column is of the name type.

#216

[2016-07-13 16:25] fishcakez opened #217 "Improve disconnect"
Send shutdown packet, shutdown write and await read close OR cancel backend by spawning a task to cancel with backend pid. It might be we need to decide when to do which. For `DBConnection.ConnectionError` or `Postgrex.Error` with :tcp/:ssl issue would need to cancel with backend pid because there could be a client process using the socket or there is a sock a issue.

[2016-07-13 16:40] fishcakez commented on #212
If we detect a feature not supported on query cache revalidation and wipe the prepared queries and types for all connections on that host's types tables. How do we inform Ecto to remove the cache queries and not to allow old queries to be inserted? Potentially we could solve this by removing entries from the cache on `ArgumentError` but that means every query needs to fail to be replaced.

[2016-07-13 21:33] fishcakez commented on #212
I think we can only handle this by adding an option to disable the ecto prepared query cache and only cache the SQL statement (as in Ecto 1.*) because the only way to guarantee the cache does not become invalid is not to cache.

[2016-07-13 22:28] Linicks commented on #213
All,
  With #215 it looks like you can connect to both Redshift, and CockroachDB.  I'm curious if there are any major roadblocks keeping this issue from moving this forward?

Thanks!
--Nick

[2016-07-13 22:40] talentdeficit commented on #213
#215 helps with redshift but not cockroachdb. cockroachdb will need the static table

[2016-07-13 22:42] josevalim commented on #212
Wouldn't the worst case scenario solution, which is to expire queries one
by one as we get errors, be better than not providing caching at all?

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

On Wed, Jul 13, 2016 at 11:33 PM, James Fish <notifications@github.com>
wrote:

[2016-07-13 23:13] Linicks commented on #213
I wounder if it makes sense to have a "database profile(s)" for various flavors of Postgresql related databases.  By default it would load the stock Postgresql profile that would contain the type acquisition query, etc.  Then for other Databases like Redshift, CockroachDB, and others, a profile configuration could be set to a profile that contains any necessary queries, type maps, tests, etc. to g

[2016-07-14 04:15] talentdeficit commented on #213
note: i'm not a postgrex maintainer so i can't actually help you get any of this merged, but here's what i think:

part of the problem is that postgrex takes advantage of postgres features that aren't strictly related to the protocol like anonymous portals for prepared queries. redshift in particular lacks support for most of them and i doubt cockroachdb supports them either, although i haven't ru

[2016-07-14 08:57] josevalim opened #218 "Raising errors causes queries not to be logged"
We have a limitation today in that, if preparing or executing the query fails, the query is no logged. This makes it really hard to debug errors, specially if the error is related to parameter encoding/decoding as said here: https://groups.google.com/forum/#!topic/elixir-ecto/m8TdUtGgsX0

I would like to fix this and I can think of two options:

1. Fix Postgrex so it avoids raising as much as poss

[2016-07-14 12:09] fishcakez commented on #218
I don't think DBConnection will allow 1) because if encode succeeds then we may do a check out, we don't want to checkout when not going to use the connection, so we have to go for 2). I think if any DBConnection or DBConnection.Query callbacks raise there isn't a log either. This means parsing, describing and prepare/execute/close/begin/commit/rollback too.

[2016-07-14 14:59] fishcakez commented on #212
The query struct stores the type information, this means we can always get cases where the old type information is used to encode/decode a query that is executed on a connection that needs to prepare it. If it needs to prepare it then we won't detect the types are no longer valid because we won't fail in the backend's query cache revalidation procedure.

We could change the current method so that

[2016-07-14 18:59] fishcakez opened #219 "Prepare unnamed will parse query twice when using query/4"
* Need to flush instead of sync in prepare when using DBConnection's prepare_execute
* Need to close on any exception from describe and encode when using DBConnection's prepare_execute

Currently prepare always syncs, which means we lose the active connection with pgbouncer between prepare and execute. We then get a new one (but could be the same) on execute and re-parse. This requires closing in

[2016-07-17 14:18] fishcakez commented on #212
I have started working on this.

Postgresql will error when preparing a query with the same name and statement twice but to handle cache changes we want to allow it. Should we also allow preparing a query with same and different statement?

[2016-07-17 14:27] fishcakez opened #220 "Bind error when streaming from a COPY table FROM STDIN query"
Copy data packet is added as extra parameter causing protocol violation error

[code]

[2016-07-20 14:58] tlvenn commented on #213
But if a flavor (db profile as named by @Linicks ) can be added to the config, why would postgrex try to detect the flavor itself ?

[2016-07-20 16:55] ericmj commented on #213
This sounds like a pain to test and maintain. This would have to be some kind of adapter functionality where the different profiles are maintained in separate libraries.

[2016-07-21 00:55] tlvenn commented on #213
Ya totally agree @ericmj , postgrex should provide a pluggable way for this and the matching postgresql adaptor and that's it. Then the community can develop test and maintain other adaptors.

[2016-07-23 02:57] fbessez commented on #210
Did you ever figure this out? I am having the same issue.

[2016-07-24 06:08] homanchou commented on #210
I'm getting something similar while going through the Phoenix book and doing the Rumbl application.  I'm not trying to dockerize or anything.  I'm on the chapter with tests and getting these errors which I'm not sure if this is related, but I can't figure it out.

[code]
Tests were humming along before... I don't know what I did, seems like something got corrupted.  Even if I git checkout older co

[2016-07-26 18:41] fishcakez commented on #218
2) Is in DBConnection master but no new release yet

[2016-07-29 15:05] tlvenn commented on #213
If there is a reached consensus that an adaptor is the right way to approach this, how should we move forward @ericmj ? CockroachDB is a pretty exciting new DB and it would be pretty awesome to add Elixir to their growing list of supported languages.

[2016-07-29 15:10] #218 closed

[2016-07-29 15:10] #219 closed

[2016-07-29 17:38] fishcakez commented on #213
I am closing this because it is too much of a burden to support either.

redshift can't be tested on CI so it is difficult to maintain support.

cockroachdb is not compatible enough with postgreSQL, at least:
* Ignores closing prepared query protocol packets
* Savepoints aren't supported and when followed by a sync message only returns an error message and not the expected ready message
* Sends er

[2016-07-29 17:38] #213 closed

[2016-07-30 06:59] tlvenn commented on #213
Hi @fishcakez, could you elaborate a little bit on why the savepoint feature is important for the driver to work properly ? In which context are savepoints used without the command being sent by the client explicitly ? Thanks.

[2016-07-30 10:08] fishcakez commented on #213
@tlvenn its wasn't that we need the savepoints themselves, it was rather that after the error we had problems with the protocol. I will check that the problem is not on postgrex's end.

[2016-07-30 10:25] fishcakez commented on #213
@tlvenn AH okay we can ignore the savepoint one as this is a protocol bug in postgrex.

[2016-07-30 12:14] fishcakez commented on #213
@tlvenn there is also an issue with `numeric`. An extra 2 bytes are appended to numeric values in row data messages.

[2016-07-30 12:24] fishcakez commented on #210
@homanchou the error you mention is different. See `tcp recv: closed`, which means handshaking timed out - we can improve that error. Whereas the above errors have `tcp connect: ...`.

[2016-07-30 15:13] tlvenn commented on #213
Thanks for the clarification on savepoint and raising the issue around the handling of numeric @fishcakez.

[2016-07-30 17:51] fishcakez commented on #208
Apart from the `char` type, which can be handled by raw extension as a string of single codepoint, I think the other types can only use the text format but do not make sense as text (`aclitem`, `_aclitem`, `pg_node_tree`). Should we add support for `char` and require the others to be cast as text?

[2016-07-30 17:54] fishcakez commented on #192
@hubertlepicki I thought you wanted to pick this up, is this still the case?

[2016-07-30 17:55] fishcakez commented on #212
Now tracking in ecto PR https://github.com/elixir-ecto/ecto/issues/1604

[2016-07-30 17:55] #212 closed

[2016-07-30 18:20] fishcakez commented on #220
Fixed in https://github.com/elixir-ecto/postgrex/commit/a4f87d9d5ff09738645a7fa98700cf57d1bc8524

[2016-07-30 18:20] #220 closed

[2016-07-30 20:44] fishcakez commented on #217
Fixed in https://github.com/elixir-ecto/postgrex/commit/7e39ed099547d7d840aaa08d3c6dadb372b16268

[2016-07-30 20:44] #217 closed

[2016-08-03 22:07] fishcakez opened #226 "Support decoding all possible NaN floats"

[2016-08-04 01:01] alfredbaudisch opened #227 "How to deal with timeout in a long running operation?"
I needed to insert more than 350 million rows, but Postgrex kept timing out:

`21:10:22.721 [error] Postgrex.Protocol (#PID<0.272.0>) disconnected: ** (DBConnection.ConnectionError) client #PID<0.308.0> timed out because it checked out the connection for longer than 15000ms`

`** (Postgrex.Error) tcp recv: closed`

How can I increase the time?

[2016-08-04 02:08] ericmj commented on #226
Can you elaborate?

[2016-08-04 02:11] ericmj commented on #227
Check the `:timeout` options https://hexdocs.pm/ecto/Ecto.Repo.html.

I would strongly recommend chunking your rows so that each insert takes <15000ms. It's very likely that you will hit the query limits with 350 million rows anyway.

[2016-08-04 02:11] #227 closed

[2016-08-04 14:09] bolek opened #228 "COPY ... TO stdout docs example throws errors"
I am probably doing something terribly bad. Trying to test out `COPY *** TO STDOUT` with streams.

Following the example in the [docs](https://hexdocs.pm/postgrex/Postgrex.html#stream/4):
[code]

I wrote sth that corresponds to my database:

[code]

When I ran it in `iex`, I get the following error:
[code]

It looks like the result is empty. So I tried creating the prepared query and stream outsid

[2016-08-04 14:47] fishcakez commented on #228
Ah the examples are bad. I guess this would work:
[code]

[2016-08-04 14:58] fishcakez commented on #226
`NaN` has many possible binary representations and we only decode one of those.

[2016-08-04 19:16] bolek commented on #228
@fishcakez - thank you!

I noticed `Postgrex.prepare` was also incorrect.

This works:

[code]

[2016-08-10 06:44] aisrael commented on #210
Just to chime in, getting the same error as @homanchou, but I've observed an interesting chain of events, after leaving my Phoenix app alone for some time:

[code]

(And so on...)

My environment is similar to @nicbet. This is a 'stock' Phoenix app (`mix phoenix.new hello_phoenix`, following the Phoenix tutorials) running on:

* Elixir v1.3.2
* postgrex v0.11.2
* Postgres 9.5, running under Docker

[2016-08-10 17:42] fishcakez commented on #228
Fixed in e4020ff and 20cb284

[2016-08-10 17:42] #228 closed

[2016-08-10 18:57] fishcakez commented on #226
Fixed in 0e6b620

[2016-08-10 18:57] #226 closed

[2016-08-10 19:32] fishcakez commented on #210
Are all of these on OSX? I haven't been able to reproduce this on linux.

[2016-08-12 16:15] #192 closed

[2016-08-13 05:32] nicbet commented on #210
@fishcakez my environment is:
- Mac OS X 10.11.6
- Docker 1.12.0-beta22 (build: 11222).
- Elixir 1.3.2
- Erlang/OTP 19 [erts-8.0.2]
- Official postgres:latest docker image(s)

So very much the same as aisrael.

[2016-08-15 12:55] matteodepalo commented on #210
I'm experiencing the same issue as @nicbet. I've installed postgres using homebrew and tried to increase the number of connections to 1000, but the result is the same: when I start the phoenix server I occasionally get:

[code]

To give some context, I've recently updated a ecto 1.1.x app to 2.0. After the update everything was working fine, but then I reset the db by dropping, creating, and migra

[2016-08-15 21:55] joshcrews commented on #210
I got this error to when I went from a
Ecto 1 -> 2
Phoenix 1.1 -> 1.2
Elixir 1.2 -> 1.3
migration at the same time on heroku

The prod.exs file has a pool_size of 20, which is also the limit of Postgres connections on the hobby:dev size plan.

When I'd do anything else that run the single web dyno (like `heroku run mix ecto.migrate` or `heroku run iex -S mix`) the console runs 2 or 3 of these erro

[2016-08-15 22:15] fishcakez commented on #210
@joshcrews In Ecto 1.0 connections were setup lazily so if your app didnt need 20 connections only a subset would connect. However in Ecto 2.0 connections are setup eagerly, which should provide better behaviour when errors occur. If you are getting `too_many_connections` (opposed to econnrefused) then this would be expected here.

The following PR https://github.com/phoenixframework/phoenix_guide

[2016-08-20 12:17] mset opened #229 "JSON extensions initialised twice, without a library for the second time"
I have been unsuccessful in making the JSON extension work (inserting an embedded schema into a json (:map) field), getting an error when calling _Repo.update_ after calling _Changeset,put_embed_. The error says that the library var in the  _library.encode!_ call is nil.

I believe everything is set up correctly in the project, so tried some debugging and found that in the _types.ex_, in the _prep

[2016-08-20 12:45] josevalim commented on #229
Can you please include your Postgrex version? Can you let us know how postgrex is configured? Can you please let us know the error message with stacktrace?

When opening a bug report, please include as much information as possible, it makes our lives much easier.

[2016-08-20 13:07] mset commented on #229
Here is the requested info. Let me know if more would be beneficial.

It's a stand-alone project, NOT using Phoenix.

**Deps in mix.exs include:**
Postgrex: ~> 0.11.2
Ecto: ~> 2.0.4
Poison: ~> 2.0

Ecto with the Postgres adapter is configured and working correctly, that is until I try to update an existing record with an embedded schema.

**Config contains:**
config :ffc_comp, FfcComp.Repo,
  adap

[2016-08-20 13:09] josevalim commented on #229
Ecto already specifies a JSON extension that defaults to Poison when using postgrex. So you can safely removing the extensions line.

[2016-08-20 13:51] mset commented on #229
Yes, I thought so.

I did try it without the config _extension:_ line but the error appears regardless.

However, when I run it without the `extensions: [{Postgrex.Extensions.JSON, library: Poison}]` line in the config, then the _prepare_extensions_ function in _types.ex_ does not contain the JSON extension duplicity and _opts_ contains `[library: nil]`.

The Postgrex documentation mentions that s

[2016-08-20 15:56] josevalim commented on #229
Unless you set the :ecto :json_library to nil, it should work: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres/connection.ex#L12-L14

Otherwise, please provide an application that reproduces the error, so we can check it out and further investigate.

[2016-08-20 16:19] mset commented on #229
Thanks for the pointer and your help, José, it's much appreciated.

I don't have it anywhere in the config, however when I include `config :ecto, :json_library, Poison` in the config file, it starts to work, which is good news.

Looking at this line - https://github.com/elixir-ecto/ecto/blame/master/lib/ecto/adapters/postgres/connection.ex#L12 - where does the `:json_library` key get set to get th

[2016-08-20 17:49] josevalim commented on #229
If adding the configuration by hand is fixing it, it is probably because you did not add `:ecto` to your list of applications in `def application` inside your mix.exs.

[2016-08-20 18:19] mset commented on #229
That is true and I can confirm that it works now even without the special config value. Thanks a lot.

I have just noticed that `:ecto` needs to be in `def application` in the ecto github README. I went by the _Getting Started_ guide which does not have that info. Happy to add it there if you confirm that this is now the way to use ecto.

[2016-08-20 18:46] josevalim commented on #229
Yes, please do send a PR then! We almost always should add our depednencies to the list of applications!

[2016-08-20 18:57] mset commented on #229
Will do. Thanks for the info and for your time!

[2016-08-20 18:57] #229 closed

[2016-08-21 07:04] kansi commented on #168
Hey,
@cblavier looking at your extension, I tried to write my own
[code]
The I tried using it as follows but it crashes
[code]
this is because `location_latlng` is of form `"0101000020E61000009F56834A26CC3A40000008A45AF55240"` rather than being of the form `POINT(26.7974592753077 75.8336572721601)`
But if I use the following query to get the `POINT` representation the extension is not used
[code]

[2016-08-24 07:26] ballPointPenguin opened #231 "use of enum type is not documented"
support for enum types was added in [0.8.0](https://github.com/elixir-ecto/postgrex/blob/master/CHANGELOG.md#v080-2015-02-26), however there is no mention of enum anywhere in the [documentation](https://hexdocs.pm/postgrex/readme.html).

[2016-08-24 14:52] ericmj commented on #231
Can you send a PR that adds it here? https://github.com/elixir-ecto/postgrex#data-representation

[2016-08-25 19:00] ballPointPenguin commented on #231
I took a shot at it.
https://github.com/elixir-ecto/postgrex/pull/232

[2016-08-31 20:02] evadne opened #233 "citext should use `send` from TypeInfo instead of `type`"
%Postgrex.TypeInfo{array_elem: 0, base_type: 0, comp_elems: [],
     input: "domain_in", oid: 54427, output: "citextout", receive: "domain_recv",
     send: "citextsend", type: "nonempty_citext"}

Example:

    CREATE DOMAIN nonempty_citext AS citext
        CONSTRAINT nonempty_citext_check CHECK ((VALUE <> ''::citext));

[2016-09-01 10:59] fishcakez commented on #233
Fixed in https://github.com/elixir-ecto/postgrex/commit/f36416e2b16e887ceb7f66eff215df9abab66001

[2016-09-01 10:59] #233 closed

[2016-09-01 15:50] fishcakez opened #234 "Switch tcp/ssl Postgrex.Error errors to raising DBConnection.ConnectionError"
There are two types of `Postgrex.Error` at the moment. Errors from postgres and tcp/ssl errors. If a tcp/ssl error occurs we will disconnect and we can not reconnect then `DBConnection` will raise a `DBConnection.ConnectionError` if another process tries to use the connection. Therefore raising a `DBConnection.ConnectionError` on tcp/ssl error would be consistent.

The semantics of rescue encourag

[2016-09-05 21:39] #234 closed

[2016-09-13 00:51] nenoalmeida commented on #210
I have this same problem

[2016-09-13 21:16] fishcakez commented on #210
@nenoalmeida could you let us know the postgrex, postgresql, OS and elixir versions?

[2016-09-16 01:32] samueleaton commented on #210
I am having the same problem. [Here is a repo](https://github.com/samueleaton/elixir-docker-error) I just uploaded with all of my current code (its basically just the templates that phoenix produces). I also added the `prod.secret.exs` file to git to see if it helps. Please look over my `Dockerfile` and my `docker-compose.yml` file.

[2016-09-19 15:17] fishcakez commented on #210
@nateless do any connections succeed in connecting?

[2016-09-19 15:36] fishcakez commented on #210
@nateless can you access iex on the node and try something like this:
[code]
And verify those are the options you expect. Will need to use the relevant numbers for the pid, which would be 0 262 and 0 based on the first log entry in this post https://github.com/elixir-ecto/postgrex/issues/210#issuecomment-248022480. The second would be 0, 264 and 0.

[2016-09-19 15:38] nateless commented on #210
@fishcakez, after restarting postgres server, this error is gone. Idk what it was but if you need my help just ping me.

[2016-09-20 09:30] EmmaHL opened #240 "Upgrade ecto from 1.0 to 2.0 get a DBConnection error."
iex(4)> import Ecto.Query
nil
iex(5)> MyApp.Repo.all(from u in MyApp.User, select: u.id)
[]
iex(6)>
09:49:05.552 [error] Postgrex.Protocol (#PID<0.232.0>) disconnected: ** (DBConnection.ConnectionError) owner #PID<0.236.0> timed out because it owned the connection for longer than 15000ms

Do you have any idea? thanks in advance.

[2016-09-20 09:43] josevalim commented on #240
It seems you are using the ownership pool and the ownership has a timeout value to not allow connections to be checked out for very long. You may want to set `ownership_timeout: :infinity` for such cases in your repo configuration.

[2016-09-20 09:43] #240 closed

[2016-09-20 11:03] denispeplin commented on #184
Have anybody got working extension yet? I expected it'll work just like string from Elixir, and I was surprised it doesn't work at all, and anybody who want to use ltree should spend God know how many hours writting it (I did't even find an article about writing Posgrex extensions).

[2016-09-20 11:20] EmmaHL commented on #240
Thank you josevalim, it works. but I tried this before, I set a big integer like 150000ms, it not works, do you know why?

[2016-09-20 11:30] josevalim commented on #240
No idea why, sorry. :S

[2016-09-20 11:32] fishcakez commented on #240
@EmmaHL can you create a simple project that reproduces this?

[2016-09-20 11:33] fishcakez commented on #184
@denispeplin it is unfortunate it is a struggle. It should be very easy to do but we have clearly not communicated how to do it well enough. If you post your code I can help you.

[2016-09-20 12:09] fishcakez commented on #184
@denispeplin I have added ltree as an example in the docs: https://github.com/elixir-ecto/postgrex/commit/a417a6525280654ab33b6502eee7008bf8ed16ad

[2016-09-20 15:51] denispeplin commented on #184
@fishcakez, thank you for example, it works!
I've just run example from README, and it works now.

Before:
[code]

After:
[code]

And I guessed that for Ecto I should add `extensions` right to its config, and it works now! (this is maybe what is missing from documentation, but from `Ecto` documentation).

But I would vote for fallback to binary for every unsupported format to avoid confusion.

[2016-09-26 06:48] armed commented on #136
Sorry for asking here after issue is closed, but I need advice. What to do, if I want to connect to Postgresql database with more than 15k tables (30+ schemas with 500+ tables each). And I need pool for 5-7 connections to each shema. All pool initialization takes ages and 100% CPU load.

Thanks.

[2016-09-26 07:59] ericmj commented on #136
Maybe we can use the `typnamespace` column on `pg_type` to query on a subset of schemas. Would that work for you @armed?

[2016-09-26 08:11] armed commented on #136
@ericmj that would be great!

[2016-09-26 09:27] ericmj commented on #136
Types are shared between connections to the same database, but I think stale ones are refreshed for every new connection, this can of course cause problems if you have 15k tables since huge queries will be made. It looks like we need to make the bootstrapping more configurable.

@fishcakez knows the code better than me so I'll leave it to him to explain how it works and why.

[2016-09-26 11:12] fishcakez commented on #136
Hi @armed.

We share type information between connections to the same database with same extension options. The first connection to connect to a backend will gain a lock and query the type tables and setup the type cache. All future connections to the same backend will do the same query except exclude all oids currently in the type cache. The query for new types was only added in 0.12 so please ca

[2016-09-26 15:59] fishcakez commented on #136
@armed could you try #241 and report back on that? If that works please ignore my previous comment.

[2016-09-27 05:40] armed commented on #136
Hey, @fishcakez. I checked #241 and it works as you said. Only first connection gathers type information. Neat!

[2016-09-27 09:55] fishcakez commented on #136
@armed so it solved your issue?

[2016-09-27 09:55] armed commented on #136
@fishcakez yes. Thanks.

[2016-09-27 10:56] josevalim commented on #136
@fishcakez :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-09-27 14:40] #231 closed

[2016-09-27 15:59] fishcakez commented on #208
I've added support for the special `"char"` type, I think the others only have text format. @ericmj @michalmuskala could you please check what types you'd like support for.

[2016-09-27 20:43] fishcakez opened #242 "Include error code number in Postgrex.Error message"
Including the error number can making it easier to google for a solution

[2016-09-27 21:12] davidkuhta commented on #242
@fishcakez I'd like to take a shot at this.

[2016-09-27 22:05] fishcakez commented on #242
@davidkuhta yes please

[2016-09-27 22:05] stavro opened #243 "Reload `oid` types when a new type is detected"
Since we are already loading types initially, I think it would be amazing if we can trigger a refresh of the stored types when a new type is encountered.

Running some migrations is very painful with Postgrex & Ecto right now, because existing connections become broken.  I currently have to restart my web server after running migrations due to this, which I hope shouldn't be necessary long term.

[2016-09-27 22:05] stavro commented on #243
Spoke briefly with @fishcakez on IRC about this.

[2016-09-27 22:08] fishcakez commented on #243
We could disconnect when non-bootstrapped type encountered. This would trigger reconnection and rebootstrap would kick in. Then we would add the oid to ETS cache even if cant handle it.

[2016-09-27 23:15] fishcakez commented on #243
It turns we already do what I suggested and the actual bug is fixed in #244.

[2016-09-28 09:51] ericmj commented on #208
If they are text only there isn't much we can do unfortunately. I think we can close this for now.

[2016-09-28 09:51] #208 closed

[2016-09-30 20:41] dantswain opened #245 "Add support for Postgres bit string type"
I need to use the bit string type (the schema is already established).  As a stopgap I can modify my queries to return a string (`mybitfield :: text`), but it would be nice to have native support.

https://www.postgresql.org/docs/current/static/functions-bitstring.html

The mapped type could be configurable to be an array, map, string, integer, etc..  Integer could be a little tricky for large fie

[2016-09-30 21:16] ericmj commented on #245
I think the mapped type should be an elixir bitstring.

[2016-09-30 21:39] dantswain commented on #245
@ericmj Can you elaborate on how that might look?  I.e., `'101'` would become `<<1, 0, 1>>`?

The bit string type in Postgres is usually used for binary masking.  That's why I thought a map might be best, since generically you'd want the value at bit N.  I'm not married to that idea, but it seems like o[1] access is desirable and IIUC a binary would be o[n].

In the past, I have used these as stri

[2016-09-30 21:44] fishcakez commented on #245
'101' would be `<<1::1, 0::1, 1::1>>`.

On 30 September 2016 at 22:39, Dan Swain <notifications@github.com> wrote:

[2016-09-30 21:45] ericmj commented on #245
`<<1, 0, 1>>` is a binary, each number is a byte (8 bits). Elixir also supports bitstrings which is a superset of binaries that are not limited in size to 8 bit multiples.

This is what the bitstring would look like for postgres `B'101'`: `<<1::size(1), 0::size(0), 1::size(1)>>`. Or `<<3::size(3)>>` in the compact form.

This is the most space efficient way to to represent a bitstring. O(1) access

[2016-10-01 22:19] dantswain commented on #245
I have decoding working.  It still seems like an awkward data type to deal with...

[code]

It requires doing a fair amount of work to decode - I end up producing a list of 1s/0s and then converting it back into binary.  The bitstring is definitely more space efficient but it seems unwieldy to use, unless we provide some helpers or something.

[2016-10-01 22:26] fishcakez commented on #245
@dantswain feel free to open a PR to discuss the code

[2016-10-01 22:41] ericmj commented on #245
The bitstring should be the cheapest to encode and decode. If it's hard to
work with you can always convert to another format or use a custom
extension.

On Sunday, 2 October 2016, James Fish <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-10-02 15:50] #245 closed

[2016-10-10 11:59] fishcakez commented on #242
ping @davidkuhta  :smile:

[2016-10-12 13:04] MartinElvar commented on #210
Having the exact same problem as @samueleaton, also trying to dockerize my app.

My setup seems to be working fine, i can connect to the postgres database fine from my elixir container, using psql. But the elixir app is just spamming, with the exact same connection information as i feed psql..

[code]

[2016-10-12 13:46] fishcakez commented on #210
@MartinElvar is `psql` connecting using local socket? postgrex doesn't support that unfortunately.

OTP 19 adds experimental support for unix sockets so we likely wont add the feature until OTP 20 is released and an Elixir release is out that requires OTP 19+.

[2016-10-12 13:48] MartinElvar commented on #210
@fishcakez My appoligies, this doesn't seem to be a problem with postgrex, or for that matter Phoenix. If i run..

[code]

I actually get a :ok, which means the problem may be else where, maybe in the Postgres Ecto adapter.

Sorry for the noise. :)

[2016-10-12 13:51] fishcakez commented on #210
@MartinElvar FWIW `Postgres.start_link/1` will return `{:ok, pid}` and asynchronously try to connect (and backoff to reconnect), if you add `sync_connect: true, backoff_type: :stop` though it will block to connect and return an error if it fails.

[2016-10-12 13:53] MartinElvar commented on #210
@fishcakez So this means that it works then?

[code]

[2016-10-12 13:56] MartinElvar commented on #210
Just for the record, here's my Ecto config.

[code]

[2016-10-12 14:23] MartinElvar commented on #210
As i turns out, i copy pasted the configuration from the Ecto readme, and therefor has host over hostname, i made a PR https://github.com/elixir-ecto/ecto/pull/1743. It works now 😄 .

[2016-10-12 14:31] gjaldon opened #248 "How to load a custom created Type?"
Hi there!

I have an Ecto extension that I'm trying to update to support Ecto 2.0 but am encountering a problem. I run a `"CREATE TYPE SOME_TYPE AS ENUM ('#{types}')"` query. My user-defined type is not getting loaded by Postgrex and get the following error:

[code]

Before upgrading to Ecto-2.0, the fix for this was to restart the `Repo` server. Doing that no longer works after the ugprade.

The

[2016-10-12 14:38] fishcakez commented on #210
Thanks @MartinElvar.

Just to clarify for future people, this issue is specifically about the exact log error: "connection reset by peer - :econnreset". If not this error please open a new issue.

[2016-10-12 14:44] ericmj commented on #248
What postgrex version are you using? New types should be picked up when postgrex reconnects.

[2016-10-12 14:47] fishcakez commented on #248
To expand on @ericmj's reply:

In Ecto ~> 1.0 need to restart both the repo and the `:postgrex` application, the same will work in Ecto ~> 2.0. Alternatively upgrade to Ecto ~> 2.0.5 and postgrex ~> 0.12.1, then you shouldn't need to restart anything. It's possible a couple of queries will fail before it gets resolved.

[2016-10-13 20:56] #242 closed

[2016-10-18 15:11] fishcakez commented on #248
@gjaldon ping? Would like to release 1.0 and want to check this feature is working as intended. Otherwise we may need a backwards incompatible change to fix it.

[2016-10-19 10:07] ijunaid8088 opened #254 "Incompatible with libraries defining Calendar module"
While deployment am getting this error

[code]
My env is
[code]

and Postgrex is 0.11.2

[2016-10-19 10:22] ericmj commented on #254
The problem is that postgrex tries to detect if the elixir 1.3 calendar functionality is available by checking if the `Calendar` module is loaded. Do you depend on the calendar library?

[2016-10-19 10:24] ijunaid8088 commented on #254
Yes I have added calendar.. on version `{:calendar, "~> 0.14.2"},`

[2016-10-19 10:24] ericmj commented on #254
@ijunaid8088 Before we fix this you can either bump elixir to 1.3 or remove the calendar dependency.

[2016-10-19 10:27] ijunaid8088 commented on #254
Sir If I will remove Calendar then my app will not work.. I have done a lot of work in Calendar..

@ericmj Anyhow it was deployed fine some minutes ago..

[2016-10-19 10:28] ericmj commented on #254
You can also bump elixir to version 1.3.

[2016-10-19 10:29] ijunaid8088 commented on #254
my deps are like this
[code]

@ericmj Okay.. How to do this? with asdf?

[2016-10-19 10:31] ericmj commented on #254
Add a `elixir_buildpack.config` file in your project root with the contents: `elixir_version=1.3.4`.

https://github.com/HashNuke/heroku-buildpack-elixir/#configuration

[2016-10-19 10:35] ijunaid8088 commented on #254
Thanks its been done and deployed as well.

@ericmj Just one question. I have changed it in

[code]

In here as well.. should I do here or not?

[2016-10-19 10:36] ericmj commented on #254
You can change there but it's not required to make it working.

[2016-10-19 10:36] ijunaid8088 commented on #254
@ericmj Okay sir Thanks a lot!

[2016-10-19 10:56] josevalim commented on #254
@ericmj maybe we should check for the Calendar.ISO module instead?

[2016-10-19 10:58] ericmj commented on #254
I think checking the Elixir version would be preferable here to ensure
least chance of incompatibilities. Or we can check directly for the struct
modules we depend on at compile time.

On Wed, Oct 19, 2016 at 12:56 PM, José Valim <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-10-21 10:42] fishcakez commented on #254
Is there a plan for this?

[2016-10-21 20:39] #254 closed

[2016-10-21 20:40] ericmj commented on #254
@fishcakez I changed it to check for `NaiveDateTime` instead of `Calendar`.

[2016-10-23 23:27] mfeckie opened #255 "Postgrex failed to recover from dropped DB connection"
I'm not sure that this issue lies with Postgrex, but sharing in case other had similar issues.

Have a production app that's been running rock solid for some months.  Over the weekend it seems that connection to the DB was dropped.

Logs show:

[code]

Problem was resolved by stopping the release and restarting it.  The server was not rebooted, this was the only intervention required to resolve th

[2016-10-23 23:35] ericmj commented on #255
As I said on slack this is unlikely to be a postgrex since the error is returned from the os tcp stack.

This could be an OS issue, a DNS caching issue or something else. You can check the docs for inet_res: http://erlang.org/doc/man/inet_res.html.

I am closing this since it's not actionable on this repo. Feel free to continue the discussion though or reopen if anyone knows anything we can improv

[2016-10-23 23:35] #255 closed

[2016-10-30 17:14] fishcakez commented on #248
@gjaldon any news?

[2016-11-01 15:04] fishcakez commented on #248
Apparently this issue is resolved by upgrading: https://github.com/gjaldon/ecto_enum/pull/22. Can you confirm?

[2016-11-04 01:17] safwank commented on #136
Hi guys, I recently upgraded `postgrex` to 0.12.1 from 0.11.2 and started having the same problem as @armed. We have a `postgres` structure similar to @armed, albeit with hundreds of schemas and 30 or so tables per schema.

When the app boostraps it just smashed our production `postgres`. During off peak it normally gets around 40% utilization, but with 0.12.1 it went all the way up to 100%. This

[2016-11-04 01:31] fishcakez commented on #136
@safwank, the issue @armed had was (re?)introduced in 0.12.0 and we believed fixed in 0.12.1. Please can you verify you are on 0.12.1 and we will reopen this issue.

[2016-11-04 21:37] safwank commented on #136
@fishcakez Yup, we WERE on 0.12.1 but reverted to 0.11.2 after the botched production deployment.

[2016-11-04 23:24] fishcakez commented on #136
We should only run a single one of those queries at a time, it might be hard to reproduce.

[2016-11-06 16:56] gjaldon commented on #248
@fishcakez finally looked into it. The issue is now resolved with an upgrade. Thank you!

[2016-11-06 16:56] #248 closed

[2016-11-09 12:49] fishcakez commented on #136
@safwank could you post the configuration of postgrex? Are you using `DBConnection.Poolboy` and `:pool_overflow`, or `:poolboy` and `:max_overflow` by any chance?

[2016-11-10 00:37] safwank commented on #136
@fishcakez I'm using `postgrex` via `ecto`. Here's the `Repo` config:

[2016-11-10 00:57] fishcakez commented on #136
Thanks @safwank, so standard callback. Do you get any log messages when things are going bad? I will look at this tomorrow because Ecto 2.1requires at least 0.12.

[2016-11-10 03:15] safwank commented on #136
[code]

[2016-11-10 03:24] safwank commented on #136
Here's a snippet of the error log:

[code]

[2016-11-10 18:13] fishcakez commented on #136
The top lines
[code]
These are likely because the handshake + bootstrap took longer than `:timeout`. We don't log here that we are closing the socket on timeout. We should definitely do that.

The next bit seems to be missing the first lines, but it would be something about exiting in the call `GenServer.call.(Postgrex.TypeServer, ... 60_000)`:
[code]
This means a connection waited 60 seconds for

[2016-11-13 06:50] nmcalabroso commented on #210
I am experiencing this issue too. Like others, I have a docker environment with two containers: one for the phoenix app, and another for postgres db.
[code]

I can connect to the postgres container using `psql` in the phoenix app container so this reduces the error to the application part.

Here are some more info about the environment:
[code]

[2016-11-14 00:30] safwank commented on #136
@fishcakez I just made a second attempt at deploying to production with v0.12.1 and it went without a hitch! Part of the reason I believe is we recently upgraded the AWS RDS instance to 4 vCPUs from 2, so it's less CPU bound than before. The off peak CPU utilization has dropped from 40% to 10%, and that gives it more breathing room during the bootstrapping process.

[2016-11-15 00:11] hauleth opened #260 "Add option to create `UNLOGGED` tables in test environment"
This one should give performance boost to write-heavy test suites. As test databases are in general short-lived there should be no harm when such strategy would be used.

[2016-11-15 00:47] #104 closed

[2016-11-15 00:52] fishcakez commented on #260
Postgrex itself shouldn't affect how you create tables. Is this for `Ecto.Adapters.Postgres`? If so, can you open the issue in Ecto instead?

[2016-11-15 01:15] ericmj commented on #210
Closing this because there's currently nothing actionable for us and there haven't been any activity for two months. Please post here if you have anything to add.

[2016-11-15 01:15] #210 closed

[2016-11-15 01:16] ericmj commented on #260
Closing this because drivers do not affect table creation. Feel free to post here if you have any questions.

[2016-11-15 01:16] #260 closed

[2016-11-15 17:22] fishcakez commented on #136
This issue is fixed in https://github.com/elixir-ecto/postgrex/commit/52488018cb0ca2f4132c8fa9c41cab7407746a90.

[2016-11-21 12:05] blset opened #261 "cannot connect to remote postgres"
It seems impossible to connect to a server on a private ip machine

I guess the ip is not understood as an ip ?
but without the quotes it is a syntax error

config :xoci, Xoci.Repo,
 15   adapter: Ecto.Adapters.Postgres,
 16   host: "10.8.0.2",
 17   username: "user",
 18   password: "pass",
 19   database: "prod",
 20   pool_size: 20

I cannot run mix ecto.migrate from a mix directory

nor iex -S

[2016-11-21 12:16] blset commented on #261
I make it work with PGHOST=10.8.0.2 mix ecto.migrate, and removing the host section
but then how do you specifiy the ip in the config section?

[2016-11-21 12:19] fishcakez commented on #261
@blset the config is`:hostname`. Do we have `:host` documented somewhere?

[2016-11-21 12:21] fishcakez commented on #261
The default is `"localhost"` so likely fails to connect to your local database.

[2016-11-21 17:16] blset commented on #261
thanks it was because of host instead of hostname

[2016-11-21 18:15] blset commented on #261
it is host in rails config files that's why...

[2016-11-21 18:49] fishcakez commented on #261
@blset ah, I think we had to listed as `:host` in Ecto for a while :smile:

[2016-11-21 18:49] #261 closed

[2016-11-22 13:14] fishcakez opened #262 "`:null` option not honoured by super extensions"
Super extensions (e.g. `Postgrex.Extensions.Array`) always use `nil` for null values. For consistency I think this means we should drop support `:null` from `query` and other functions and only allow in `start_link`. `:null` would work like `:decode_binary` and requires a type server key element.

/cc @talentdeficit

[2016-11-22 18:43] talentdeficit commented on #262
would specifying it in `start_link` override in the super extensions? if so this is fine with me. i believe i only added it because it was easy, not because it was necessary

[2016-11-22 20:32] fishcakez commented on #262
@talentdeficit yes it would, that's what meant by "like `:decode_binary`".

[2016-11-24 00:14] fishcakez commented on #262
This is handled in #263.

[2016-11-24 00:14] #262 closed

[2016-11-25 15:13] josevalim opened #264 "Require v1.3 and use Elixir calendar types (but keep the old ones as deprecated)"

[2016-11-29 06:37] Mazyod opened #266 "FunctionClauseError on db shutdown"
Hey everyone,

When running a simple elixir app that only has ecto, postgrex, poison as dependencies, I am getting a `FunctionClauseError` when I terminate the DB. I am guessing that error in question is not helpful to the developer, hence is a possible bug.

Please note I am not performing any kind of app specific logic. My supervision tree only has the `Repo` and one idle `GenServer` worker.

I'

[2016-11-29 19:53] fishcakez commented on #266
Is this fixed in https://github.com/elixir-ecto/postgrex/commit/2282baf7ad476960499799d432296fed87d3c62b? I think should be able to backport.

[2016-11-29 19:59] Mazyod commented on #266
@fishcakez I can't get the dependency between postgrex rc release and ecto to work out, in order to test

[2016-11-29 20:11] fishcakez commented on #266
@Mazyod https://github.com/fishcakez/postgrex/tree/mayzod

[2016-11-29 20:13] fishcakez commented on #266
Ah sorry spelt name wrong in branch :(

[2016-11-29 20:18] Mazyod commented on #266
Hey, I can't seem to pull th– ... oh ¯\_(ツ)_/¯

👍 Can't reproduce. Thanks!

[2016-11-29 20:18] #266 closed

[2016-11-29 21:03] Ch4s3 commented on #210
I see that this is closed, but has anyone found a good solution for this?

[2016-11-30 11:21] lessless commented on #177
@fishcakez  it will be great to have `COPY table FROM STDIN` and/or prepared insert support.

https://www.depesz.com/2007/07/05/how-to-insert-data-to-database-as-fast-as-possible/

[2016-11-30 11:38] fishcakez commented on #177
@lessless can you show what you are trying? postgrex supports copy from since 0.11.2 and explicit prepared insert since 0.11.0.

[2016-12-03 20:34] madshargreave opened #268 "Cant connect to Postgres after update"
I am trying to update ecto and postgrex to use PG9.6

These are my deps

[code]

After the update and I deploy to a staging server using this config

[code]

I get the following error in an infinite loop:
[code]

I haven't been able to find documentation on such a breaking change, have I missed something?

[2016-12-03 20:40] fishcakez commented on #268
Postgrex isn't getting the database from Ecto so I'm not it is an issue in postgrex. Have you checked the `DATABASE_URL`?

[2016-12-03 20:44] madshargreave commented on #268
You're exactly right, there was an error in the URL - Sorry about that, but thanks!

[2016-12-03 20:47] #268 closed

[2016-12-03 22:10] josevalim commented on #264
Done in #263.

[2016-12-03 22:10] #264 closed

[2016-12-16 00:33] dantswain opened #270 "Current master not working with Ecto/Phoenix"
I tried pulling master (7d008e1283b606254495497326c3b060f9e77ecb at time of writing) into my project because I needed the geometry types.   Running `mix test` I get the following output.  I get similar with `iex -S mix`.  I'll investigate.  I noticed a couple compile warnings as well.  This was all working as of d5c627d486c8a20728e56443424dc85b1a260ce5

[code]

[2016-12-16 00:38] dantswain commented on #270
Closing as this appears to be in Ecto, not postgrex.

[2016-12-16 00:38] #270 closed

[2016-12-16 09:41] josevalim commented on #270
@dantswain if you use Postgrex master and Ecto master, you should be fine to go. The CHANGELOG for both projects contains information about this and what is happening.

[2016-12-16 12:41] dantswain commented on #270
Thanks, @josevalim that's what I ended up doing.

One thing that did happen that I don't see mentioned in the CHANGELOG on either project is `mix test` broke because it was trying to read `schema_migrations.version` as an integer and it's a string in my db (it's a Rails-owned db).  Since it's an existing db I just disabled that step in the `test` alias and was fine.  If that's not a known problem

[2016-12-16 12:45] josevalim commented on #270
It is known. This is not a breaking change btw, it has behaved like that for a while.

[2016-12-20 15:45] zachdaniel opened #272 "Using `Postgrex.Types.define` causes dialyzer errors."
The module that gets defined by `Postgrex.Types.define` references opaque type `'Elixir.Postgrex.Types':type()`, causing dialyzer errors for us.

[2016-12-20 15:52] zachdaniel commented on #272
Also, the example here: `https://hexdocs.pm/postgrex/Postgrex.Extension.html` breaks the callback types, (like the argument to `init` being a keyword list.

[2016-12-20 17:08] fishcakez commented on #272
Thank you @zachdaniel I will look at this tomorrow.

[2016-12-22 03:42] karlseguin opened #273 "Using `Postgrex.Types.define` is slow"
Maybe I'm doing something wrong, but it adds around 4second to our startup time, which is painful when you're in a tdd or any other type of iterative development. It's unbearable.

[2016-12-22 03:58] michalmuskala commented on #273
How are you calling it? Normally it's called at compile time in only one file, so it's just a one-off thing, that shouldn't be that annoying. Unless you somehow recompile that file over and over again.

[2016-12-22 08:03] talentdeficit opened #274 "postgrex can't handle all possible postgres date/timestamp/timestamptz values"
i'm only including the output for the `date` type here, but the same errors apply to `timestamp` and `timestamptz`

[code]

[2016-12-22 10:22] fishcakez commented on #273
Unfortunately we are trading compile time for runtime speed. Are you calling `define` when starting your application? Does https://github.com/elixir-ecto/postgrex/commit/245882784de7b03dc14d352eca00762930e7047d help you?

[2016-12-22 10:23] fishcakez commented on #273
For example: https://github.com/elixir-ecto/postgrex/blob/506fd7eb5fcc96f96db8c1829d43d09a5ebf7d3a/lib/postgrex/default_types.ex

[2016-12-22 10:28] karlseguin commented on #273
Thanks. That helped. It was inside the `start_link` of a worker

[2016-12-22 10:28] #273 closed

[2016-12-22 12:11] ericmj commented on #274
I think we can only handle times within the gregorian calendar that erlang uses but we can improve the error message.

[2016-12-26 22:54] dax0 opened #276 "Connection Pooling"
How does connection pooling work exactly? I see some reference to DBConnection for :pool but not clear on how to increase the size

[2016-12-27 07:04] fishcakez commented on #276
Setting the pool size depends on the pool, the docs for each pool are in DBConnection. The default pool is `DBConnection.Connection` which is always a single connection. Other built in pools have the `:pool_size` configuration, e.g. `pool: DBConnection.Poolboy, pool_size: 10`.

[2016-12-27 07:04] #276 closed

[2016-12-27 20:16] venkatd opened #277 "Postgrex default extensions get overridden"
I currently define my types like:

[code]

And in my config.test.exs
[code]

My tests raise an error `     ** (RuntimeError) type jsonb can not be handled by the configured extensions`

Which originates from here: https://github.com/elixir-ecto/postgrex/blob/b1c0d7e4fd517b56fbd3bcdb7f2ee21e107c2665/lib/postgrex/protocol.ex#L910

Versions:
- ecto 2.1.1
- postgrex 0.13.0

[2016-12-27 20:24] venkatd commented on #277
Narrowed it down a bit further.

The if I uncomment the `JSONB` extension my code works:
[code]

[2016-12-27 20:28] josevalim commented on #277
@venkatd try this:

[code]

As mentioned here: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres.ex#L75-L77

We should probably make the error message clearer. :)

[2016-12-27 20:32] venkatd commented on #277
The following worked, thanks!

[code]

[2016-12-28 12:27] fishcakez commented on #272
Fixed in https://github.com/elixir-ecto/postgrex/commit/198eb64c4dd060c92476bd74fd8a694cedaa594e.

[2016-12-28 12:27] #272 closed

[2016-12-29 04:18] kipcole9 opened #278 "Proposal to return table_oid's as part of %Postgrex.Result"
The Postgres binary protocol returns the `table_oid` of each column in the result set and I'm interested to know if there would be support for a PR that surfaces the table_oids through `%Postgrex.Result{}`.

Implementation would require minimal changes to the following (already working in a PoC):
* add `:table_oids` to `%Postgrex.Query`
* add `:table_oids` to `%Postgrex.Result`
* change `Protocol.

[2016-12-29 12:10] fishcakez commented on #278
Currently we don't expose `oids` anywhere in our data structures. What are the use cases?

[2016-12-29 14:57] fishcakez commented on #278
In your example query won't `table_oid` point to `parent_table` for all fields because it is a column of `parent_table`? I think you would need to do `SELECT tableoid FROM parent_table` to get the table oid of the row, rather than the table oid of the column.

[2016-12-29 22:02] kipcole9 commented on #278
You are correct.

[2016-12-29 22:02] #278 closed

[2017-01-01 12:30] fishcakez commented on #277
Error improved for json (and others slightly) in https://github.com/elixir-ecto/postgrex/commit/671c7f01ea12b6b4f7f2904580688572251c1bce.

[2017-01-01 12:30] #277 closed

[2017-01-02 16:53] pachun commented on #210
In case this will help anyone, I was seeing this error vomited to standard output on loop:

[code]

when trying to `heroku run iex -S mix` after having deployed to heroku following [these phoenix guides](http://www.phoenixframework.org/docs/heroku). I decreased my `POOL_SIZE` environment variable from 18 (what the guides suggest) to 10 and the next time I `heroku run iex -S mix`, everything worked

[2017-01-03 21:07] meadoch1 opened #281 "Postgrex handling of a termination from server message"
We are currently using Elixir 1.3.2, Postgrex 0.12.1, and Ecto 2.0.5.  During some recent PostgreSQL server maintenance, when the dba took the database server down we received the following error.

[code]

Is this expected or should Postgrex handle this condition more gracefully?

[2017-01-04 18:12] fishcakez commented on #281
Please see https://github.com/elixir-ecto/postgrex/issues/266. There is a backported branch and a link to fix commit.

[2017-01-04 18:12] #281 closed

[2017-01-04 21:53] michalmuskala opened #282 "Switch json encoder to `encode_to_iodata!`"
Right now postgrex requires the `encode!/1` and `decode!/1` functions for the json encoder. It also does does not specify types of arguments or return values.

I propose changing the function to `encode_to_iodata!/` for encoding and documenting that the function should return iodata. Similarly, the decode function should be able to accept iodata - this leaves us bigger interface for the future, ev

[2017-01-04 22:21] josevalim commented on #282
:+1:. We should also do it before we release 1.0.

[2017-01-09 20:41] cjbottaro opened #286 "Support logical streaming replication protocol"
Requires a db connection in replication mode.  Then allows streaming after the `START_REPLICATION SLOT slot_name LOGICAL ...` command.

https://www.postgresql.org/docs/9.4/static/protocol-replication.html

Would be nice to write CDC stuff in Elixir.

Thanks.

[2017-01-14 18:38] ericmj commented on #286
I don't believe this is currently a planned feature by the maintainers. If you are interested in this a PR would appreciated.

[2017-01-16 07:35] allanmongej opened #287 ":crypto should be part of postgrex's applications list"
I was facing the issue below when trying to deploy my app, the issue is generated because :crypto is not part of postgrex's application list.

I added :crypto to my application list as a temporal solution.

Postgrex version 0.13.0

07:22:32.646 [info]  Application simple exited: exited in: Simple.App.start(:normal, [])
    ** (EXIT) exited in: :gen_server.call(#PID<0.873.0>, {:checkout, #Reference

[2017-01-19 00:05] RobinClowers commented on #272
@fishcakez Can we get a 0.13.1 release with these changes? It's preventing me from upgrading my project right now...

[2017-01-19 00:09] fishcakez commented on #272
@RobinClowers can you confirm the commit fixed the warnings?

[2017-01-19 00:11] RobinClowers commented on #272
Sure, let me fork and apply this commit and I'll let you know.

[2017-01-19 00:25] RobinClowers commented on #272
That did fix some warnings, but there a whole bunch of other ones. Should I open a new issue?

[code]

[2017-01-19 00:25] fishcakez commented on #287
Fixed in https://github.com/elixir-ecto/postgrex/commit/e14fbdd6c8f57bfbdc0aa001dfba8a186b04775b as doing patch release.

[2017-01-19 00:25] #287 closed

[2017-01-19 00:30] fishcakez commented on #272
It looks like you need to add postgrex to your PLT or update the PLT.

[2017-01-19 00:47] RobinClowers commented on #272
😅  Sure enough, good catch. That patch does indeed get rid of the dialyzer errors once I regenerated the plt.

[2017-01-19 01:08] RobinClowers commented on #272
Actually, sorry to have wasted your time, it looks like this entire rabbit hole was just because I needed to regenerate my plt.

[2017-01-24 23:09] jmarca opened #289 "use .pgpass file on connection"
Putting in a feature request to support the .pgpass file, as described here:  https://www.postgresql.org/docs/current/static/libpq-pgpass.html

According to the docs for start_link:

[code]

Would be great if I could also rely on the .pgpass file, as most other languages' psql connectors can do.

Brand new to elixir, just testing things out, so I can't contribute code for this.

[2017-01-24 23:42] jmarca commented on #289
Note this may be a bug in how the default phoenix app uses this library...I haven't been able to figure that out yet.

[2017-01-25 14:59] gtebbutt opened #290 "Problems encoding datetimes pre-1970"
I'm having trouble inserting datetimes prior to the Unix epoch of `1970-01-01T00:00:00Z` - it seems to stem from the `DateTime.to_unix(datetime, :microseconds)` in the encoder, and gives the following error:
[code]
Any suggestions?

[2017-01-25 15:13] gtebbutt commented on #290
Looks like it was an issue in Elixir itself. Updating to 1.4 fixed it.

[2017-01-25 15:13] #290 closed

[2017-01-25 18:37] jmarca commented on #289
Looking more at how *this* library connects to postgres, it seems *not* to use the libpq library.

If that is indeed the case, then perhaps the best solution will be to translate the libpq C into elixir here.  The relevant code is tucked into `src/interfaces/libpq/fe-connect.c`, in the function "PasswordFromFile".  I'll give it a shot, as it would be a nice small task to start learning elixir.

An

[2017-01-25 20:57] ericmj commented on #289
Correct, this library implements the protocol itself.

[2017-01-26 17:42] jamesvl commented on #184
And just in case anyone finds this issue and is trying to get this working with Ecto 2.1+ / Postgrex 0.13+, the docs are crystal clear:

* https://hexdocs.pm/postgrex/0.13.0/Postgrex.Extension.html#content
* https://hexdocs.pm/ecto/Ecto.Adapters.Postgres.html

[2017-01-27 01:30] jstr opened #291 "Extension mechanism fails on Elixir 1.3.1"
The new extension mechanism fails on Elixir 1.3.1, but works on (as far as we can tell) 1.3.4 and onwards.

Example - Adding the [`geo` `PostGIS` extension](https://github.com/bryanjos/geo) with the following code:

[code]

On 1.3.1 an exception like the following is raised:

[code]

But this runs fine on Elixir 1.3.4.

Possible solutions could be explicitly stating Elixir version support and/or r

[2017-01-27 02:41] darkbushido opened #292 "** (ArgumentError) Postgrex expected %Postgrex.INET{}, got %Postgrex.CIDR"
[code]
gives the following error
[code]

the migration to create the table is
[code]

my model schema is
[code]
I'm not sure if this is a problem here or with ecto_network.

[2017-01-27 09:24] josevalim commented on #292
Can you please try this:

[code]

and then this:

[code]

And let us know what works?

[2017-01-27 16:05] darkbushido commented on #292
The quotes around ip_addresses breaks the string, I removed them and for the first query I get
[code]
The second query has the same quoting issue, when escaped or removed it looks like it works.
[code]

[2017-01-27 16:15] josevalim commented on #292
@ericmj is there something we can do in the extension system here? Should we automatically encode CIDR as INET if Postgres ask for it? They seem to be compatible.

[2017-01-27 16:19] ericmj commented on #292
I guess we could but I would like to understand why Postgres does this.

[2017-01-27 16:24] josevalim commented on #292
That's a good question. According to the docs, cidr are a subset of inet, so I would suppose it generalizes to the supertype (but still stores them correctly as cidr on read). We could also solve this by potentially having a single data structure.

[2017-02-04 11:46] bopjesvla opened #293 "Naming the Postgrex.Notifications server"
As described by https://elixirforum.com/t/supervising-postgrex-notifications-process/722:

Given that no one came up with a solution, shouldn't Postgrex.Notifications.start_link support the name option?

[2017-02-06 14:34] y86 commented on #210
I've had similar issues trying to connect to a local postgres instance (tcp recv: timeout) on Mac OSX.

The problem for me was the following. My local postgres instance could not bind properly to the IPV4 socket (but it could bind to IPV6 socket). I was using brew to start the service and this error went quietly, I only could notice it when I manually tried to start the service.

This was the reas

[2017-02-07 15:20] #291 closed

[2017-02-07 23:03] ericmj commented on #293
Can you show your code? `Postgrex.Notifications` should support that option.

[2017-02-09 19:52] bopjesvla commented on #293
Can't whip together a full test case right now, this'll have to do:

[code]

[2017-02-11 00:24] ericmj commented on #293
You are right. Options should also be passed as a third argument here: https://github.com/elixir-ecto/postgrex/blob/master/lib/postgrex/notifications.ex#L27.

Any thoughts on this @fishcakez?

[2017-02-11 02:41] fishcakez commented on #293
All the specs use `pid`. Looks like this is just legacy behaviour when it was separated out. I think it is fine to add a name if we update specs and any docs too.

[2017-02-11 18:17] fishcakez commented on #286
@cjbottaro I believe @guedes is working on this at the moment, perhaps you two would like to collaborate and maybe we can include support. No promises but I'd be happy to support it in a similar to the notification process.

[2017-02-12 17:36] fishcakez commented on #292
We have at least the issue that netmasks should be supported by Postgrex.INET: https://www.postgresql.org/docs/9.6/static/datatype-net-types.html#DATATYPE-INET-VS-CIDR. However to quote the linked section "Any cidr value can be cast to inet __implicitly__ or explicitly". I think we can only handle the implicit cast cleanly by using a single datatype as postgrex won't know when it is an implicit ca

[2017-02-12 17:48] josevalim commented on #292
:+1: for a single data type then.

[2017-02-12 23:11] guedes commented on #286
Didn't see this PR before, btw I have a WIP using a Postgrex's fork to handle the Replication Protocol commands plus a module with a public API, my mainly need is to play with CDC and Elixir. Did you write some code?

[2017-02-13 15:21] cjbottaro commented on #286
@guedes Yes, that is my goal as well (play with CDC and Elixir).  I did write some code.  I just used a socket directly, but used Postgrex to parse/build some messages.

Also, what I have works, but I don't think I fully understand the streaming replication protocol.  Namely in the "standby status update" message, what/when to send "flushed wal pos" and "applied wal pos".

[2017-02-13 21:50] guedes commented on #286
Hi @cjbottaro, thanks for the reply. The "standby status update" acts as a feedback message that should be sent by the frontend periodically to the server to keep the connection alive. The "flushed" and "applied" are used by the frontend to notify the server that this "wal position" was applied and is not needed anymore, so the server can recycle that wal on the server. If you don't send this corr

[2017-02-15 18:30] #293 closed

[2017-02-22 07:35] suhrawardi commented on #272
Commit 198eb64 fixed most of these for our application, but 2 of the warnings remain:
[code]
Is this a known issue? Any ideas on what's causing this?

Thanks!

[2017-02-23 19:06] jackvnimble commented on #210
I always wind up here when I forget about this error.. so for myself and anyone else having issues on Heroku, the guide that @pachun mentioned offers the following [solution](http://www.phoenixframework.org/docs/heroku#section-creating-environment-variables-in-heroku):

`heroku run "POOL_SIZE=2 iex -S mix"`.

My understanding is that the `iex -S mix` task boots your app which tries to create `POOL

[2017-02-24 21:01] mmmries opened #297 "Connecting through pgbouncer raises duplicate_prepared_statement error"
I'm experimenting with elixir in an existing production system and want to connect to my postgres server through a pgbouncer instance to reduce the total number of connections to the actual database.

When I try to start my application I get the following error:

[code]

I think this is because postgrex is trying to create a prepared statement in the context of each connection, but the connection

[2017-02-24 21:13] michalmuskala commented on #297
PgBouncer requires setting the "unnamed" prepare mode. Do you see this despite the setting?

https://github.com/elixir-ecto/postgrex#pgbouncer

[2017-02-24 21:24] mmmries commented on #297
That's perfect. I was trying to search for an answer to this problem by searching for something from the error message rather than searching for pgbouner. Should have read the whole README before posting 😬

Thanks for the quick answer. I was able to get connections opened now 👍 💛 💙 💚 ❤️

[2017-02-24 21:24] #297 closed

[2017-03-02 12:13] sambooo opened #299 "Hexdocs link to non-existent v0.13.1 tag"
Trying to view source for any function is currently not working because of broken </> links, such as [this one](https://hexdocs.pm/postgrex/Postgrex.Notifications.html#listen/3) which links to [this broken url](https://github.com/elixir-ecto/postgrex/blob/v0.13.1/lib/postgrex/notifications.ex)

[2017-03-02 12:25] josevalim commented on #299
I forgot to push the tag. I will do it soon.

On Thu, Mar 2, 2017 at 13:13 Sam Broughton <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-03-02 21:22] josevalim commented on #299
Fixed, thanks!

[2017-03-02 21:22] #299 closed

[2017-03-03 04:10] schrockwell opened #300 "Compilation error on Elixir 1.5.0-dev"
Postgrex attempts to create a `DateTime` in the year 294276, but a recent commit to Elixir has enforced a maximum year of 9999.

The breaking commit: https://github.com/elixir-lang/elixir/commit/a2c45a66dd08eaa5d706fc538cce0c6c2ac8175c

The offending line: https://github.com/elixir-ecto/postgrex/blob/master/lib/postgrex/extensions/timestamptz.ex#L13

Relevant lines:
[code]

[2017-03-03 08:51] #300 closed

[2017-03-06 10:36] webdev4u opened #302 "Postgrex compillation error"
CentOS Linux release 7.3.1611 (Core)

Hex:    0.15.0
Elixir: 1.5.0-dev
OTP:    19.2

Built with: Elixir 1.3.4 and OTP 18.3.4.4

When run mix deps.compile get error on postgrex:
==> postgrex
Compiling 62 files (.ex)

== Compilation error on file lib/postgrex/extensions/timestamptz.ex ==
** (ArgumentError) invalid Unix time 9224318016000
    (elixir) lib/calendar.ex:1522: DateTime.from_unix!/2
    l

[2017-03-06 10:46] josevalim commented on #302
It has been fixed on latest Postgrex. Just update your dependency. Also note this issue only happens in Elixir master.

[2017-03-06 10:46] #302 closed

[2017-03-08 07:58] asabil opened #303 "Postgrex cannot handle extensions defined inside a schema"
Postgrex seems to fail at decoding extensions defined indeed a schema.

If for example the`citext` extension is defined inside a schema:
[code]

Postgrex will fail with the following error:

[code]

This does not occur when the extension is created in the `public` schema.

[2017-03-08 08:45] ericmj commented on #303
The reason is because the sender/receiver functions, which postgrex use to identify which type to decode, are namespaced with the schema: `foo.citextsend`. We can probably try to match out the schema if it exists.

What's the use case for creating an extension under a schema?

[2017-03-14 16:26] mkaszubowski opened #305 "Timeout when using pgpool"
(Related to: https://github.com/elixir-ecto/postgrex/pull/304)

When using Postgrex (with Ecto) without the `:prepare` option set to `:unnamed`, all the queries seem to time out.

[code]
When the option is set, the queries are performed correctly.

Using `psql` with the same connection url as the one in Ecto works correctly, too.

After doing some research, I found this bug reported for pgpool: ht

[2017-03-14 16:30] fishcakez commented on #305
Any chance of minimal test case? no worries if you dont have one.

[2017-03-14 16:36] mkaszubowski commented on #305
When it comes to Elixir part, I'm doing a simple `Repo.all(Schema)`.

I'm not yet sure how to provide the setup for postgres/pgpool. I was mainly following the article here: https://www.itenlight.com/blog/2016/05/18/PostgreSQL+HA+with+pgpool-II+-+Part+1  but it's quite long and not all the steps are required (e.g. the failover).

I'll try to provide a list of steps required to reproduce the error.

[2017-03-14 16:38] fishcakez commented on #305
I will try to replicate with 3.4.3 because thats what my package manager gives me.

[2017-03-14 16:41] mkaszubowski commented on #305
Actually, there were some fix between 3.4.x and 3.5.2 which might affect this. I've installed pgpool from sources from here: `http://www.pgpool.net/download.php?f=pgpool-II-3.5.2.tar.gz`.

[2017-03-14 19:30] fishcakez commented on #305
`pgpool` becomes unresponsive when sent valid protocol messages. I'm not really sure why this occurs. I will revert https://github.com/elixir-ecto/postgrex/commit/5c626de28fe4cc4a17f89cd3633d499d31e267d5 as this suggests we support it but we don't.

[2017-03-14 19:30] #305 closed

[2017-03-14 19:32] mkaszubowski commented on #305
Shouldn't the docs at least state that it's not supported? I guess it would be nice to have this information somewhere in the docs.

[2017-03-14 19:35] fishcakez commented on #305
It's more that it may or may not work, with no promises either way. Therefore we won't claim to support it.

[2017-03-14 19:35] mkaszubowski commented on #305
Ok, that makes sense. Thanks for checking it :)

[2017-03-14 19:39] mkaszubowski commented on #305
@fishcakez Can you give an example of the valid protocol message which causes the problem? I'll try to make an issue for the pgpool and it would be really helpful.

[2017-03-14 19:45] fishcakez commented on #305
There seemed to be many combinations using extended queries where it would stale. I did not try to find minimal cases. `pgpool -d` and running ecto/postgrex without `prepare: :unnamed` should show a simple case.

[2017-03-14 19:46] mkaszubowski commented on #305
Great, thanks!

[2017-03-28 14:22] LegitStack commented on #255
I'm having a similar problem in windows after installing elixir and the phoenix framework.

[error] Postgrex.Protocol (#PID<0.233.0>) failed to connect: ** (DBConnection.ConnectionError) tcp connect (localhost:5432): connection refused - :econnrefused
[error] Postgrex.Protocol (#PID<0.29.0>) failed to connect: ** (DBConnection.ConnectionError) tcp connect (localhost:5432): connection refused - :ec

[2017-03-28 18:19] fishcakez commented on #255
@LegitStack the opening post was an issue with DNS, whereas the lookup (for localhost) is a success for you but the ip/port is not accepting connections.

[2017-03-29 14:33] abhinavzspace opened #306 "Cant get ltree extension to work."
I am using the phoenix framework and trying to use ltree extension.

Getting the following error while migrating a table by running `mix ecto.migrate`:
[code]

What I am trying to do is to install "ltree" extension. I followed the following steps:
1. Defined ltree extension and used Postgrex.Types.define() exactly as mentioned [here](https://hexdocs.pm/postgrex/Postgrex.Extension.html#content).
2.

[2017-03-29 14:37] josevalim commented on #306
See Extensions here: https://hexdocs.pm/ecto/Ecto.Adapters.Postgres.html
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-03-29 14:46] abhinavzspace commented on #306
Yes read that, but I am not sure if I understood a lot.

I have a file with name `postgrex_types.ex` in `lib/d_server/` with following content:
[code]

 and another named `ltree.ex` with:
[code]

[2017-03-29 15:21] michalmuskala commented on #306
You still need to include the standard types in your custom types module. The module you defined above is able of handling **only** the ltree type, and nothing else.

[2017-03-29 15:33] abhinavzspace commented on #306
Thanks! It works.

Actually I tried that last time also. But then when I ran `mix ecto.drop`, extension from database also got deleted. So I was getting `missing ltree` error.

I am sorry for bothering.

[2017-03-29 15:33] #306 closed

[2017-04-01 21:38] drozzy opened #308 "How do you pass parameters to a query?"
How do I properly pass parameters to a query? I have something like this:

[code]

and here is the query I am issuing:
[code]
Where `my_id` is a string containing uuid like `"c4bbeca6-03a6-45b9-a35d-5d41a2b44442"` and `my_name` is just a string of arbitrary text.
But if the `my_name` variable has an apostrophe in it, like `"Scott's Bakery"` it breaks my query.

Tried looking at the [tests](https:/

[2017-04-01 21:51] drozzy commented on #308
Strange, if I convert the `my_id` to binary, e.g.:

`UUID.string_to_binary!(my_id)`

and then pass it as a parameter, it works.

But why does this work then?
[code]
It's like it automatically casts it correctly...

[2017-04-02 00:19] josevalim commented on #308
Because Postgres itself, the database, handles the query itself in the first case. When you pass parameters, it leaves it up to developers.

[2017-04-02 00:19] #308 closed

[2017-04-03 21:34] ottojimb opened #309 "Exception: has invalid types for the connection"
Hi!

I'm getting the following issue:

[code]

My model schema is defined as following:

[code]

The tests are running ok on my local machine, but it happens every time on semaphoreci. I'm using docker-compose with the "postgis" image I have already tried with the "postgres" image with the same results.

Any suggestion is greatly appreciated.

Thanks!

[2017-04-04 00:58] fishcakez commented on #309
The error should mean that a query was prepared using a different type cache to the one used by the connection executing the query. I am unsure why this would happen, so unfortunately not enough to go on yet.

[2017-04-04 16:02] ottojimb commented on #309
Thanks for the tip about the different cache. Now I have a idea to get a more concise search about it.

The images I tried:

mdillon/postgis:9.1
postgres/9.6

On the local machine I'm using postgres.app with postgres (PostgreSQL) 9.6.1

The full [log](https://hastebin.com/jisiyojexe.vbs)

[2017-04-07 11:30] radiospiel opened #311 "WHERE .. IN .."
I have trouble executing a WHERE .. IN query. I guess I miss something fundamental here.

    Postgrex.query!(conn, "SELECT * FROM #{table_name} WHERE id IN ($1)", [[1,2]])

results in:

    Postgrex expected an integer in -2147483648..2147483647, got [1, 2]. Please make sure the value you are passing matches the definition in your table or in your query or convert the value accordingly.

What am

[2017-04-07 11:34] josevalim commented on #311
@radiospiel that's likely a question about Postgres syntax. You likely want this or similar instead:

    Postgrex.query!(conn, "SELECT * FROM #{table_name} WHERE id = ANY($1)", [[1,2]])

[2017-04-07 11:34] #311 closed

[2017-04-07 15:22] radiospiel commented on #311
I see, thank you very much!

[2017-04-21 15:32] sineed opened #313 "Error connecting to remote database through SSH tunnel"
I have a problem connecting to remote db through ssh tunnel.
Steps to reproduce (real names are replaced for security purposes):
1. `ssh -fN -L 5555:localhost:5432 user@staging.com`
2. in `iex -S mix`: `Postgrex.start_link(hostname: "localhost", port: 5555, database: "staging_db", username: "user", password: "long_password")`

Expected: `{:ok, pid}`
Actual: `[error] Postgrex.Protocol (#PID<0.333.0

[2017-04-21 16:08] ericmj commented on #313
I cannot reproduce this for databases that runs on other machines. At work we regularly connect to AWS RDS instances by port forwarding the EC2 instance that has access to the RDS instance and this works.

[2017-04-21 16:11] josevalim commented on #303
@asabil ping.

[2017-04-22 11:18] sineed commented on #313
I successfully established a connection to the another server. I think there is not problem with binary communication.
Closing this, sorry for disturbance

[2017-04-22 11:18] #313 closed

[2017-04-22 23:23] almielczarek opened #314 "Error message when using an array in a migration without specifying the type could be improved"
Given the following code:

[code]

The compiler spits out this error:

[code]

I think in this case ecto should raise saying something along the lines of "When using the `array` type the type of its elements must also be supplied. Example: `add :list, {:array, :string}`"

[2017-04-23 08:42] ericmj commented on #314
This is an ecto issue so please reopen on the ecto project. But I don't think we can raise in ecto in this case since ecto should support custom types and we don't know what types have been defined for the database.

[2017-04-23 08:54] josevalim commented on #314
@ericmj the adapter could raise.

@almielczarek yes, please reopen this on the Ecto side. :)

[2017-04-23 08:54] #314 closed

[2017-04-28 16:47] plamb opened #315 "Overriding builtin extension"
I'm in the process of upgrading an older ecto app and I need to have the json and jsonb extension return atoms for the keys (yes, I know). In the past, I used my own json/jsonb extension since there wasn't one in postgrex already.

I followed the extensions directions with my own custom json/jsonb extension (all it does is add the keys: :atoms option to the decode call). But my extension does not

[2017-04-28 16:54] josevalim commented on #315
There is a :json option that you can pass when defining `Postgres.Types` and you will have to provide a module that implements encode and decode.

[2017-04-28 18:14] plamb commented on #315
I kept thinking this should be easier and, of course, it is. Thanks for the quick reply.

[2017-04-28 18:14] #315 closed

[2017-05-09 13:49] comboy opened #316 ":bigint field type"
I'm trying to use a `bigint` column. Bigint as a type in migration works fine, but when trying to define field like so:

    field :foo, :bigint

I get `invalid or unknown type :bigint for field :sequence`. When I try `integer` then even though the column is bigint I get `Postgrex expected an integer in -2147483648..2147483647`

Am I doing something wrong or is this an opportunity for contribution

[2017-05-09 14:20] ericmj commented on #316
This is an ecto specific question and please don't post questions in the tracker. On fields use ecto types, it only has the integer type `:integer`, specify the database type in your migration.

[2017-05-09 14:20] #316 closed

[2017-05-10 15:05] comboy commented on #316
Could you redirect me to more appropriate place to ask question if this is not a bug?

Database type in migration is specified as `:bigint` (and properly created in pg), yet the Postgrex raises the error mentioned in the first message.

Problem does not happen for `Repo.insert`, just for `Repo.insert_all`. I know these are Ecto functions, but the exception comes from Postgrex.

[2017-05-10 15:08] ericmj commented on #316
This is where you can ask questions: https://github.com/elixir-ecto/ecto#contributing

This is hard to know for us since you only pasted one line of code, which is not where the exception is from and does not relate to this library.

[2017-05-10 15:51] comboy commented on #316
Just in case checking it would cross your mind, it was my fault. So dumb. I'm really sorry about wasting your time

(but I was so convinced, I was already adding `location: keep` to all `quote`s in postgrex to figure it out ;) ).

[2017-05-15 10:28] lcacciagioni commented on #184
@jamesvl is it possible to also add the lquery example?

[2017-05-16 16:19] jamesvl commented on #184
@lcacciagioni Not sure what you mean by lquery example?

If you mean just using the extension, setup a schema and uses the `Ltree` type:

[code]

Then after that I write custom SQL queries, per the Postgres docs, to make use of the special operators on that column:
[code]

[2017-05-29 10:18] mspanc commented on #243
I have encountered this today when running migrations despite being marked as closed

[code]

ecto 2.1.3
phoenix_ecto 3.2.3
postgrex 0.13.0

postgrex 0.13.0 I am using should contain a fix for this as it was released in Dec 2016 and fix was pulled 28 Sep 2016

[2017-05-29 10:22] fishcakez commented on #243
@mspanc this is working as intended, rather its a feature, not a bug. An initial crash occurs and then a reload.

[2017-05-29 13:23] josevalim commented on #243
I talked to @fishcakez and we will try to rebootstrap inline. We need to guarantee we don't run into an infinite loop though.

[2017-05-30 09:25] josevalim commented on #303
Closing this due to no follow up.

[2017-05-30 09:31] josevalim commented on #286
We are closing this as we don't plan to tackle this ourselves. If there is progress and/or an eventual PR, we would love to hear it. Thank you!

[2017-05-30 09:31] #286 closed

[2017-05-30 10:36] #282 closed

[2017-05-30 10:38] josevalim commented on #309
@ottojimb the particular error in your log is happening because you seem to already have a schema_migrations table but it is defined with a different schema than Ecto's. If you follow the advice there, you should fix it:

    config :core, Core.Repo,
      migration_source: "some_other_table_for_schema_migrations"

Btw, sorry for the delay on this. If you have more information about the first erro

[2017-05-30 10:38] #309 closed

[2017-05-30 11:30] josevalim commented on #292
Fixed in a9486265dcf876b3e3e9e9fcbee101618c7ea01c.

[2017-05-30 11:30] #292 closed

[2017-05-30 12:23] #274 closed

[2017-05-31 11:20] #243 closed

[2017-05-31 22:40] cotter commented on #184
I'm having difficulty implementing based on the Ecto 2.1/Postgrex 0.13 samples.

[code]

[code]

[code]

This fails with the below error. It's balking at `function_exported?(type, :type, 0)`.

[code]

I thought the Postgrex.Extension would cover that but maybe I'm missing something. Any ideas?

[2017-05-31 22:52] evadne opened #318 "Postgrex.TypeServer exits if Postgrex.Notifications used when Postgres connection invalid"
As subject.

If `Postgrex.Notifications.start_link` is used with invalid Postgres connection details, the type server exits (instead of raising an exception, etc).

Reduced test case available here https://github.com/evadne/postgrex-issue-318

    ➜  evadne-postgrex-issue-318 git:(master) iex -S mix
    Erlang/OTP 19 [erts-8.3] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:fal

[2017-05-31 23:22] evadne commented on #318
I’ve got a fix which requires trapping exit and using `sync_connect`

According to @fishcakez
1. the connection is asynchronous by default in order not to cause problems with connection pools
2. notifications shouldn’t bootstrap

[2017-06-23 17:36] bechurch opened #319 "Postgrex.Notifications.start_link does not parse :url"
## Overview
When setting up a `GenServer` to listen for `pg_notify` events it would work locally but would fail when deployed to Heroku.

This was because Heroku uses a connection url instead of specifying `host`, `username`, `port`, ect.

The app was parsing the url in config fine
[code]

However when calling `Postgrex.Notifications.start_link` in my genserver:
[code]

This error is thrown
[code]

[2017-06-23 17:50] michalmuskala commented on #319
The `url` option is not supported by postgrex. Fortunately, you don't need to use private Ecto functions (that could change at any moment), since you have a public function to get full configuration - [`AppName.Repo.config()`](https://hexdocs.pm/ecto/Ecto.Repo.html#c:config/0).

[2017-06-23 17:57] josevalim commented on #319
Yes, it is an Ecto feature. You can either get the config as @michalmuskala said or send it as not a URL.

[2017-06-23 17:57] #319 closed

[2017-06-23 18:22] bechurch commented on #319
@josevalim @michalmuskala sorry the false bug request and thanks for the advice!

[2017-07-08 10:53] fishcakez commented on #318
Given the guarantees provided by Postgrex.Notifications (only works when connect and can't reconnect) we should force `sync_connect: true`.

[2017-07-20 18:33] drozzy opened #322 "Read/stream large object?"
Hi, guys.

Is there an example of how to read a large object? E.g. something like this in C:
https://www.postgresql.org/docs/current/static/lo-examplesect.html

I'm looking for a way to stream it from the server.

I see some discussion about OIDs on the main page, but not too sure if that is the same thing.

[2017-07-26 12:49] mmmries opened #323 "Protocol Error"
I found an error in my app logs and I'm not sure what the error means. Any chance someone can help me interpret?

OS: Alpine Linux `3.6`
Erlang/OTP: `19.3.0-r3`
Elixir: `1.4.5`
Hex: `0.16.0`
Postgrex: `0.13.2`
DB Connection: `1.1.2`

<details>
  <summary>mix.lock file</summary>

[code]
</details>

[code]

Also it might help to know that I'm using `prepare: :unnamed` and my actual network connectio

[2017-07-26 16:59] fishcakez commented on #323
It certainly looks like a bug in Postgrex.Protocol, a sync response is received when Postgrex expects an execute response. Given the failed status in the ready message (sync response) it seems like it only occurs where we run into a particularly error case which I can't work out...we successfully bind but don't get an execute result, go straight to sync result....

[2017-07-26 17:08] mmmries commented on #323
I would be happy to provide more details on exactly what postgres commands I'm sending or more details about my ecto configuration. I'm just not sure what information is useful at this point since I've never worked on the protocol layer of postgres before.  Just let me know if I can help in any way. Happy to share code, logs, data, examples, etc

[2017-07-26 17:52] fishcakez commented on #323
@mmmries I think just the query being run at `lib/dispatch/user_shard_service.ex:8` and whether you are using any options or pooling (e.g. sandboxing)

[2017-07-26 19:47] mmmries commented on #323
Here is what the changeset looks like:

[code]

The `:ABACUS` value is part of an `ecto_enum` definition which gets mapped to `1` before it goes to postgres. Here's what the postgres query looks like:

[code]

And here's my ecto config from prod (with a few values masked)

[code]

[2017-08-22 11:42] AndrewDryga opened #324 "Can not establish SSL connection when :ssl app is not started"
While running migrations ([here is a code](https://gist.github.com/AndrewDryga/a9172fbd9351d0b89092ff35d5912b40/b5ba6ee5390f263cf855fe852322c3a42675f084)) we have faced a weird issue:
[code]

PosgtrSQL log has an error entry:
[code]

This were fixed by starting :ssl app before Postgrex, but the error is not clear enough and I don't think that we should try to establish an SSL connection when `:ssl

[2017-08-22 12:56] josevalim commented on #324
Doing application:ensure_started will hide bugs, because it will work in development but not if you build a release, as ssl may not actually be there.

[2017-08-22 13:42] AndrewDryga commented on #324
You are right. Let's throw an error when `:ssl` is not there?

[2017-08-27 19:25] fishcakez commented on #324
@AndrewDryga I wonder why there isn't a log message when the postgrex connection failed to connect?

[2017-08-28 10:44] AndrewDryga commented on #324
@fishcakez I have no ideas :(

[2017-08-28 23:08] fishcakez commented on #324
@AndrewDryga me neither.

You are right that we should throw an error. We should do this check during the `start_link` call because a postgrex pool needs this guarantee when it starts up. If these are not started it should fail there because it will never be able to serve requests to later children. Under the poolboy pool it will crash repeatedly, which is not good fault tolerance.

[2017-09-15 18:44] lukaszsamson opened #329 "ArithmeticError when encoding infinite Decimal"
Decimal supports infinite values. Issuing a query with such a value results in
[code]
Unfortunately, Postgres does not support infinite values in numeric; [vide](https://www.postgresql.org/docs/9.6/static/datatype-numeric.html).
In such case ArgumentError with an appropriate message should be risen.

[2017-09-15 21:16] #329 closed

[2017-10-02 05:48] #324 closed

[2017-10-02 05:50] fishcakez commented on #323
I have a local branch off of #321 that uses the same code path for named and unnamed that should resolve this. I will open a new PR once that one is merged.

[2017-10-02 07:06] fishcakez commented on #322
You can use the following SQL: https://www.postgresql.org/docs/9.6/static/lo-funcs.html.

`COPY` queries are also supported to read and write but I don't think that it can be combined with the previous approach and it would require putting a whole row into memory at a time when reading because thats how postgres sends data over the wire.

[2017-10-05 17:06] fsabe opened #333 "Postgrex.Range cannot not distinguish between empty and infinite (unbounded) ranges"
@mememori and I stumbled upon an issue with how Postgrex encoded infinite (unbounded) ranges when both the lower and upper bound were omitted—meaning that all values are considered to be in the range. This was solved by https://github.com/elixir-ecto/postgrex/pull/332.

This solution, however, introduced a different problem. Now there is no way to distinguish between an unbounded range and an empt

[2017-10-05 17:17] mememori commented on #333
If i am not mistaken, unbounded is `%Postgrex.Range{lower: nil, upper: nil, lower_inclusive: false, upper_inclusive: false}` and empty is `%Postgrex.Range{lower: nil, upper: nil, lower_inclusive: true, upper_inclusive: true}`

[2017-10-05 17:20] mememori commented on #333
Test code:

[code]

Result
[code]

[2017-10-05 17:21] josevalim commented on #333
Maybe it would be better to have `upper: :empty, lower: :empty` for empty and `:unbounded` from unbounded ones. @ericmj ?

[2017-10-05 17:23] ericmj commented on #333
👍 on using the atoms instead of nil.

[2017-10-05 17:27] mememori commented on #333
:+1: i agree atoms would make it easier to distinguish :)

Also, side-note, my PR did not introduce a breaking change as it does not change the program behaviour in a way that would break code that previously worked :P

[2017-10-17 14:13] dpick commented on #303
I believe I'm hitting this bug as well.

[code]

Unfortunately, I'm connecting to an existing database so I have no control over the fact that the extension is installed inside of the schema (although I agree it's an odd practice).

[2017-10-18 10:37] enilsen16 opened #335 "Postgres 10 support"
Opening this because I couldn't find any information on the current status of this is.

Does postgrex plan to support postgres 10 now that it is officially released?

[2017-10-18 10:41] josevalim commented on #335
@enilsen16 hopefully it just works? :)

[2017-10-18 10:52] enilsen16 commented on #335
I couldn't get it to. :(

[code]

[2017-10-18 11:08] AndrewDryga commented on #335
@enilsen16 error looks like it's an internal PostgreSQL error, see the status code..

[2017-10-18 11:33] enilsen16 commented on #335
@AndrewDryga Completely removing postgres and removing the old postgres 9 db seemed to fix it.

[2017-10-18 11:35] enilsen16 commented on #335
Since it sounds like postgres 10 support is intended, I'll update the readme and travis. Thanks everyone!

[2017-10-18 11:35] #335 closed

[2017-10-19 22:23] jrichocean opened #338 "Postgrex internal error after updating to PostgreSQL 10.0"
When trying to run migrations I get an error on the migration where im creating a postgres function for a trigger.

psql version: 10.0
elixir version: 1.5.2
postgrex version: 0.13.3

The migration that fails looks like this ->
[code]

and the error that is output when running migrations is this ->

[code]

[2017-10-19 22:28] josevalim commented on #338
Please see #335. it is likely an issue with your installation and not Postgrex/Ecto.

[2017-10-19 22:50] jrichocean commented on #338
thanks

[2017-10-19 23:04] #338 closed

[2017-10-23 01:30] freshtonic opened #340 "Database username and password are logged on crash"
I'm seeing sensitive credentials (database username and password) logged when Postgrex crashes.

If someone can kindly point me in the right direction I'd be happy to fix. I think that removing the sensitive credential could be achieved by implementing the optional GenServer callback `format_status(Opt, [PDict, State]) -> Status` which is called upon process termination.

From a brief look at the

[2017-10-23 01:34] freshtonic commented on #340
Similar issue here: https://github.com/elixir-lang/elixir/issues/6529

[2017-10-23 02:21] fishcakez commented on #340
The output in the snippet is part of a stacktrace and not the process's state. Therefore `format_status` would not change the information. AFAIK there is not anything we can do to stop logs including function arguments in a stacktrace. A similar issue could occur with `CaseClause` or `TryClauseError` when nothing matches and it would be included in the exception itself.

Also `DBConnection` has su

[2017-10-23 02:23] fishcakez commented on #340
The only thing I can thing of is to try sending a PR to OTP to remove stacktrace (and exception???) information when `Process.flag(:sensitive, true)` has been called. No idea how feasible this is, or if would except it.

[2017-10-23 06:33] freshtonic commented on #340
@fishcakez thanks for the prompt response!

In hindsight, it's clear that a stack trace would not be affected. That should have been obvious to me.

I'll do some investigation into whether an OTP PR is feasible. In the meantime, I have a workaround.

[2017-10-23 06:33] #340 closed

[2017-10-23 10:41] AndrewDryga commented on #340
@freshtonic you can write your own logger and erase sensitive data there.

[2017-10-26 20:19] evadne opened #341 "Postgrex.Extensions.Path sends true for open paths, but protocol wants the opposite"
Referring to PostgreSQL source code for `path_send` in `geo_ops.c`:

[code]

It would seem that the code implies that a closed path will have the flag set to `true`, while an open path will have the flag set to `false`. However, in `Postgrex.Extensions.Path`:

[code]

I am inclined to believe that Postgrex should change to match the protocol. 🤔

[2017-10-26 22:46] fishcakez commented on #341
/cc @dantswain

[2017-10-27 22:58] dantswain commented on #341
This is in fact correct.  I must have flipped the logic somehow in my head.  The current test reads:

[code]

But according to the docs `[...]` is an open path, so that test SHOULD actually fail.

[2017-10-28 11:09] #341 closed

[2017-11-07 22:57] sergiotapia opened #343 "nec"

[2017-11-07 22:57] #343 closed

[2017-11-09 05:08] mszmurlo opened #344 "Mapping a Postgres TIMESTAMP onto a elixir datatype"
I have a table created and populated with:

    CREATE TABLE my_test ( ts TIMESTAMP );
    INSERT INTO my_test (ts) VALUES (now()::timestamp);

Just to validate:

    SELECT * FROM my_test;
                 ts
    ----------------------------
     2017-11-05 14:41:42.425341
    (1 row)

So far so good. Now, if I ask the SQL adapter in Postgrex to do the select, I get:

    iex(144)> Ecto.Adapters.

[2017-11-09 07:40] josevalim commented on #344
Ecto 2 has to override the builtin types for backwards compatibility but
this is no longer the case in Ecto master.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-09 10:02] #344 closed

[2017-11-12 08:16] LostKobrakai opened #345 "Postgrex.Range and tsrange"
I'm wondering why most range types are present in the tests, but tsrange is somehow not part of them. Is there some reason for that?

[2017-11-16 20:19] nathanl opened #346 "Show hints in error messages?"
I've got a trigger that updates a materialized view `CONCURRENTLY` when the underlying tables are updated. When I first tried this, I got a test failure on the first insert:

[code]

The error was confusing to me at first. When I tried executing the `REFRESH` from `psql`, I saw a `HINT` that clarified things:

[code]

If postgrex had shown me that `HINT`, it would have helped me.

What do you thin

[2017-11-16 21:43] ericmj commented on #346
If I remember correctly HINTs are delivered as async messages and not associated with the error, so we can't show the hint "with" the error. But maybe we can configure postgrex to log hints with Logger.debug so they are shown in test/dev envs. /cc @fishcakez

[2017-11-20 01:43] fishcakez commented on #346
We include details and metadata but not hints, we could potentially include hints as we have the information in the struct. See https://github.com/elixir-ecto/postgrex/issues/134.

[2017-11-20 07:22] ericmj commented on #346
@fishcakez How do we add hints to the struct when they are sent in separate messages?

[2017-11-20 15:31] fishcakez commented on #346
Oh I just based it on the fields: https://github.com/elixir-ecto/postgrex/blob/b3ca2d388ed0a37104572aedd0df7c176859b57a/lib/postgrex/messages.ex#L13

[2017-11-20 17:01] ericmj commented on #346
I was thinking of the HINT included in the NoticeResponse message, but if
postgres also include hints in error response then we can use that. :+1:

On Mon 20. Nov 2017 at 16:32, James Fish <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2017-11-23 19:24] #323 closed

[2017-11-25 20:42] fishcakez opened #353 "Composite types can not be safely encode or decoded"
If a composite type, such as a table row, changes its types then we do not update the types and oids. For encoding this means we send the wrong types to the database and error. For decoding it means we crash because oids don't match. Similarly for decoding anonymous composites it possible that it includes a type that we have not bootstrapped because the preparation of the query won't signal the mi

[2017-11-27 06:57] michalmuskala commented on #353
I wonder if it maybe would make sense to have some explicit API to tell postgrex that types have changed. I can see this being used when you migrate your database and then call some API in ecto to tell it about this. This could potentially give us some way of handling this - especially if we're saying we can never avoid all the edge cases.

[2017-11-30 21:01] bshaffer opened #355 "Cut a new version! (12.3?)"
Hello Postgrex maintainers!

We would love to get a new version released for postgrex so that the ability to connect to unix sockets (https://github.com/elixir-ecto/postgrex/pull/326) will be available on hex.

What is the process for this and how can we help? Thank you!

(see https://github.com/GoogleCloudPlatform/elixir-runtime/issues/6)

[2017-11-30 22:14] fishcakez commented on #355
We are currently mid-way through changing how Ecto handles transactions and cursors (postgreSQL portals) so it would not be possible to release a new version from master for a while. We are actually pointing directly at git for a few dependencies on master branches so in an awkward spot and pointing to git may not be wise. Did not plan a release for another month.

Technically it looks like we cou

[2017-12-01 00:19] bshaffer commented on #355
Releasing 0.14.0 would be great. Sorry but how does this break semver? BC breaking changes can take place on minor versions pre-1.0.

[2017-12-01 00:39] fishcakez commented on #355
@bshaffer it doesn't, except people may have fetched 0.14.0-dev from git when it isn't when using Ecto master.

[2017-12-01 19:59] fishcakez commented on #355
@bshaffer the release is a little awkward for us so we will hold off with our planned schedule unless there is more demand. If someone wants to use unix sockets then I would suggest they use https://github.com/elixir-ecto/postgrex/commit/940c1126a68ad0df065c79980f0fc776ba10633a.

[2017-12-01 19:59] #355 closed

[2017-12-17 14:13] art-solopov opened #356 "Implement PostgreSQL peer authentication mechanism"
Right now, as far as I understand (according to [start_link/1 documentation](https://hexdocs.pm/postgrex/Postgrex.html#start_link/1)), postgrex only support authentication with password. If the password is not available, `start_link/1` throws an error.

Please do consider supporting PostgreSQL passwordless authentication, such as peer authentication (as do most other drivers). It's convenient for